[2018-10-16 02:57] wyp12 opened #1 "SkyWalker (UI) design"
The nacos synchronization component skywalker is currently in the design, in order to help non-nacos user data smooth migration to nacos, non-nacos users, including consule, eureka, zookeeper, Apollo:

* This is the future deployment structure：
![image](https://user-images.githubusercontent.com/4252147/46989654-71a3dd80-d130-11e8-8a1a-d06b1004bc04.png)

* This is the product prototype:
![image](ht

[2018-10-23 02:20] yangyshdan commented on #1
I suggest rename the component name formally to NacosSync, instead of skywalker.

[2018-11-20 08:50] wyp12 opened #2 "New feature:Nacos Sync to Nacos"
Synchronize data from one nacos cluster to another, according to the dimensions of the service

[2018-11-21 15:38] wyp12 opened #3 "Compile error"
Project compilation error is caused by internal dependence.

[2018-11-21 15:40] #3 closed, assigned to wyp12

[2018-11-26 09:13] nanamikon opened #5 "运行中遇到一些问题的汇总"
版本：
     最后一个commit 是 6bc3057

运行期间问题
1、程序中context已经改为nacossync， 但是前端还是用skywalker， 这样页面会出现404
2、SyncService这个接口已经定义了， 但是缺少一个地方在SyncManagerService中通过register方法来注册
3、目前最新版的nacos sdk， 是无法同步集群或者服务具体信息的，  这些是不是应该在nacos-sync做， 还是通过后台界面手动去做

[2018-12-05 03:54] wyp12 commented on #5
@loadchange  帮忙看看第一个问题:
1、程序中context已经改为nacossync， 但是前端还是用skywalker， 这样页面会出现404

[2018-12-05 08:39] yangyshdan opened #8 "Implement SPI on NacosSync for SyncManager"
Implement SPI on NacosSync for SyncService.

Currently the logic of SyncManager is not elegant enough. We need to implement SPI for SyncService.

The ultimate goal is that,
1. User implement XXXSyncService based on Sync Service.
2. NacosSync Register XXX SyncService  automatically through SPI mechanism.

[2018-12-09 14:15] loadchange commented on #5
目前还有哪些地方使用了`skywalker` ？ 我刚刚检查了一下没有发现。 @wyp12

[2018-12-11 03:01] wyp12 commented on #5
![image](https://user-images.githubusercontent.com/4252147/49775733-122f0c00-fd34-11e8-8554-a104cdd6c37e.png)
@loadchange  请求数据的时候还有

[2018-12-19 10:16] wyp12 opened #12 "Console Task Manager Optimize"
目前用户使用同步功能时,对前端的交互会有gap,目前的“删除”,应该时“暂停”同步任务的意思,
同时,需要增加一个真实“删除”的语义

![image](https://user-images.githubusercontent.com/4252147/50214079-55375200-03ba-11e9-90a2-ec70fc47bec3.png)

1、“删除”的文案改成“暂停”
2、操作里面增加一个“删除”的操作

[2018-12-19 10:30] wyp12 commented on #5
搞定

[2018-12-19 10:30] #5 closed, assigned to wyp12, yangyshdan, loadchange

[2018-12-21 14:43] wyp12 opened #13 "新功能:同步ZK数据同步到Nacos"
## 背景
Dubbo在2.6.5版本支持了Nacos作为其服务发现框架,也就是,以后Dubbo用户,可以使用Nacos了,问题来了,Dubbo支持ZK作为其服务发现框架,并且占很大一部分比例,(Dubbo+zk)的存量用户想迁移到Dubbo+Nacos的模式,如何支持呢?

## 方案1:客户端全量升级
暴力模式,全量停机,把Provider和Consumer全部重新升级至Dubbo2.6.5版本,此方式适用于可接受停机的产品业务
### 优点
是不需要引入其他中心系统,
简单
### 缺点
有业务方场景限制

## 方案2:客户端全量升级+切流
统一接入层引流,这个要求业务系统的基础设置要比较完善,在统一接入层能够将流量切走,同时成本也比较大,需要一样规模的同一个集群进行切换升级,这个类似蓝绿发布,相比方案1,增加了切流及的操作,来达到业务不停机的目的
![image](https:/

[2018-12-22 15:32] Loveugirl opened #14 "Nacos集群多园区异地多活"
![tim 20181222231644](https://user-images.githubusercontent.com/11309319/50375879-bd4a9a00-063f-11e9-8923-2a6428275156.png)

       目前生产上是两个城市的三个园区分别布署了三个注册中心集群，服务注册在某一园区的集群后，其他园区能够同步数据，实现异地多活的跨园区高可用方案。
       集群进行扩容时，新加的机器同步集群数据，F5添加新地址 实现优雅横向扩容。

[2018-12-23 06:06] loadchange opened #15 "Console FE project optimization && upgrading"
1. Remove ~~cookie~~ tool and use FE friendly `localStorage` to record i18n information；
2. Upgrade projects all depend on the latest (Exception:react-redux,v5.1.1);
3. Code style, follow the guidance of [Alibaba f2e committee](https://f2e.alibaba-inc.com/markdown?spm=a2o8t.11089596.0.0.4aea6654h01yTk&lark=fliggy/fespec/60020&tab=specification/tab)；
4. Introduce `eslint` strict specification proje

[2018-12-23 09:11] loadchange commented on #15
@wyp12 Please synchronize to `nacossync-worker`

[2018-12-26 15:15] paderlol commented on #13
Dubbo Zookeeper注册中心 服务单向同步Nacos 基于**方案5**目前初步实现迁移功能。

[2018-12-26 17:22] wyp12 opened #16 "New feature: Eureka Sync to Nacos"
Synchronize data from one Eureka cluster to another Nacos cluster , according to the dimensions of the service

[2018-12-31 15:27] paderlol opened #17 "New feature: Consul Sync to Nacos"
Synchronize data from one Consul cluster to another Nacos cluster , according to the dimensions of the service

[2019-01-06 03:42] paderlol opened #18 "Supports two-way synchronization registration services"
目前Nacos-Sync功能只支持单向同步,获取SyncService都是通过源数据一方获取,现在双向同步需要根据同步方和被同步方类型共同确定使用哪个SyncService去完成同步

[2019-01-06 06:47] paderlol opened #20 "Refactor SyncService"
优化SyncService中重复的判断需要同步和需要删除方法

[2019-01-06 07:03] paderlol opened #21 "New feature: Nacos Sync to Dubbo Zookeeper registry"
Synchronize data from one Nacos cluster to another Zookeeper cluster , according to the dimensions of the service

[2019-01-10 09:53] huangyunbin opened #23 "mac is not support cross-env in package.json"
it is ok when delete cross-env  on my mac

[2019-01-10 09:59] huangyunbin opened #24 "node must use proxy,visit backstage turn to 8081 port"
node must use proxy,visit backstage turn to 8081 port
前端应该加个代理，把访问后端的接口改为8081端口
![image](https://user-images.githubusercontent.com/1046037/50960689-eb195500-1500-11e9-816d-bea4bd462445.png)

[2019-01-10 10:05] huangyunbin opened #25 "Swagger API is 404"
Swagger API: http://127.0.0.1:8081/skywalker/swagger-ui.html#/  is 404
![image](https://user-images.githubusercontent.com/1046037/50961281-40099b00-1502-11e9-9e98-e4d0f82f84d0.png)

[2019-01-10 10:09] huangyunbin opened #26 "System configuration is all mock data"
there is no data in mysql,but also many data in page
![image](https://user-images.githubusercontent.com/1046037/50961407-a42c5f00-1502-11e9-8438-f758a3f7a96a.png)

[2019-01-11 02:11] wyp12 commented on #26
现在系统配置,功能还没有, 先把这个功能给隐藏掉

[2019-01-11 02:14] wyp12 commented on #25
由于系统名字变更,为了兼容2边,已经将context-path换成了/
访问地址改成: http://127.0.0.1:8081/swagger-ui.html#/

文档已更新#27

[2019-01-11 02:17] wyp12 opened #27 "更新context-path"
由于系统名字变更,为了兼容2边,已经将context-path换成了/
访问地址改成: http://127.0.0.1:8081/swagger-ui.html#/

[2019-01-11 02:17] #27 closed, assigned to wyp12

[2019-01-11 02:17] #25 closed, assigned to nobody

[2019-01-11 02:21] wyp12 opened #28 "NacosSync Test Case"
Need to add test cases

[2019-01-12 04:08] paderlol opened #29 "Weight field type in Dubbo and Nacos are different"
## Issue
**Weight** field type in Dubbo and Nacos are different
Dubbo **weight** field type: int
Nacos **weight** field type: double

## Solution
Nacos weight field rounded up

[2019-01-12 11:38] paderlol opened #31 "Parsing the dubbo protocol name is incorrect"
## Issue
Parsing the dubbo protocol name is incorrect
Zookeeper returns the path of the node is the full path, causing the protocol header to be parsed incorrectly

[2019-01-12 15:31] paderlol opened #33 "Eureka and Consul can only be valid once when syncing to Nacos"
## Issue
Eureka and Consul can only be valid once when syncing to Nacos
Because once after synchronization task execution, scheduled tasks will not perform the task synchronization off again

## Solution
The new scheduled task to perform Eureka and Consul synchronization method, Eureka and Consul synchronization subscription class event to notify polling task

[2019-01-13 06:53] paderlol opened #36 "Catch exceptions for StringUtils Class and print warning logs"
## Issue
Method of StringUtils parseQueryString and parseIpAndPortString did not print the warning logs

[2019-01-13 13:02] wyp12 opened #38 "NacosSync User Guide"
We Need a NacosSync User Guide:
1、How to Install NacosSync Server(Cluster,Stand-alone)
2、How to Sync Data(Others to Nacos and Nacos to Others)
3、How to Add Sync Cluster

[2019-01-13 13:17] wyp12 opened #39 "New Module for Shell"
We need a Module for Running Shell

[2019-01-13 13:40] wyp12 opened #40 "User needs to prompt for new tasks"
When the user adds a task, the data source and the target cluster combination are not supported, and the user needs to be prompted.

[2019-01-13 13:46] wyp12 commented on #40
eg.
![image](https://user-images.githubusercontent.com/4252147/51086055-b0bbec00-177c-11e9-88db-7aeba1b25286.png)

[2019-01-13 13:52] paderlol opened #41 "Add a new synchronization task to the version field input box"
## Issue
When the selected synchronization data source is zookeeper, add a new synchronization task to the version field input box

As shown in figure

![ui](https://user-images.githubusercontent.com/7919984/51086120-4ce5f300-177d-11e9-9e32-17fc9255027c.png)

[2019-01-13 13:57] wyp12 opened #42 "NacosSync Banner"
![image](https://user-images.githubusercontent.com/4252147/51086176-0fce3080-177e-11e9-9e78-a6fa028b35bc.png)

Change to Nacos Banner

[2019-01-13 15:12] wyp12 commented on #40
[commit](https://github.com/nacos-group/nacos-sync/commit/3012a02323475694b39316578d870a1c23db791f)

[2019-01-13 15:15] #40 closed, assigned to wyp12

[2019-01-13 15:24] wyp12 opened #44 "404 when Delete a cluster"
![image](https://user-images.githubusercontent.com/4252147/51087168-575ab980-178a-11e9-989b-0769f2e08551.png)

[2019-01-14 03:38] wyp12 opened #45 "Guava Event Frame Optimal Performance"
![image](https://user-images.githubusercontent.com/4252147/51095590-d71b6f00-17f0-11e9-9764-c2a564d17d8a.png)

Post方法每次调用耗时预计3ms,性能比较差

[2019-01-14 09:40] wyp12 opened #46 "Code comment Chinese unified into English"
Code comment Chinese unified into English

[2019-01-14 09:45] wyp12 opened #47 "NacosSync Cluster Model Test"
Run in Cluster Model

[2019-01-14 13:25] wyp12 opened #48 "NacosSync Log format"
Add a log print configuration file

[2019-01-15 12:58] wyp12 commented on #48
![image](https://user-images.githubusercontent.com/4252147/51182180-564f9680-1908-11e9-9017-1e51c637f356.png)

[2019-01-15 12:59] wyp12 commented on #39
![image](https://user-images.githubusercontent.com/4252147/51182218-6e271a80-1908-11e9-9f8a-a289c6fe7a02.png)

[2019-01-15 13:03] wyp12 commented on #39
1、run “mvn clean package -U” in parent pom
2、the zip file in nacossync-distribution/target/nacosSync.0.1.0.zip
3、unzip nacosSync.0.1.0.zip
4、Configure your database configuration  and log configuration in nacosSync/conf/*
5、 sh nacosSync/bin/startup.sh restart

[2019-01-15 13:42] wyp12 opened #51 "Banner Dynamically get the version number"
Banner Dynamically get the version number

[2019-01-16 06:48] wyp12 opened #53 "zk连接不上,会一直刷异常"
![image](https://user-images.githubusercontent.com/4252147/51231155-78472880-199d-11e9-9eca-48bcdda591da.png)
新增加一个zk->nacos任务,如果zk集群连接不上,会打异常,将任务删除,也一直打

[2019-01-16 10:02] paderlol commented on #53
* zk client 连接失败每隔一秒进行自动重连,删除任务和删除集群都不会对zk当前可能client进行移除,这是为了防止移除client造成其他task失败的情况.
* 目前改造成zk client 默认获取所有连接地址进行连接,来保证活性,然后重试间隔从原来1s改成3s

[2019-01-17 03:45] paderlol opened #55 "Optimize getting cluster connections"
## Issue
1. AbstractServerHolder 's get method makes double lock operation
2. AbstractServerHolder 's createServer method maybe invalid call in once request,eg: ZookeeperServerHolder

## Summary
 1. Remove ReentrantLock from AbstractServerHolder class
 2. Using the Supplier class to lazily load the serverAddress

[2019-01-22 08:55] #26 closed, assigned to loadchange

[2019-01-22 08:55] #39 closed, assigned to wyp12

[2019-01-22 08:55] #44 closed, assigned to wyp12, loadchange

[2019-01-22 08:55] #48 closed, assigned to wyp12

[2019-01-23 06:56] wyp12 opened #57 "NacosSync Metrics Monitor"
NacosSync Metrics Monitoring data exposure

[2019-01-24 08:14] foamfish opened #58 "[typo-error][0.2.0] startup.sh"
nacosSync-server.0.1.0.jar  // ng
nacosSync-server.0.2.0.jar  // ok

[2019-01-24 09:52] xingtaoshi commented on #58
up

[2019-01-24 09:55] xingtaoshi opened #59 "java.lang.NullPointerException: task from zk--> nacos"
2019-01-24 17:51:34.649 ERROR com.alibaba.nacossync.extension.impl.ZookeeperSyncToNacosServiceImpl Line:149 - sync task from zookeeper to nacos was failed, taskId:3475b1b5c930dfe1f4f19001155c7e87
java.lang.NullPointerException: null
        at com.alibaba.nacossync.extension.impl.ZookeeperSyncToNacosServiceImpl.sync(ZookeeperSyncToNacosServiceImpl.java:93)
        at com.alibaba.nacossync.extensio

[2019-01-24 10:09] xingtaoshi opened #60 "如何制定namespace??"
debug display nameSpace is null

com.alibaba.nacossync.timer.QuerySyncTaskTimer Line:81  - 从数据库中查询到一个同步任务，发出一个同步事件:TaskDO(id=10, taskId=3475b1b5c930dfe1f4f19001155c7e87, sourceClusterId=8afc6b7d4758bc2bcdaa93ad2017a304, destClusterId=d0cb5c71a5576c5839ba6f341c90b84c, serviceName=ndev-sync, version=0, groupName=ndev, **nameSpace=null**, taskStatus=SYNC, workerIp=192.168.100.50, operationId=1a869552

[2019-01-24 12:06] paderlol commented on #60
目前没有把命名空间放出来，后面会考虑放出来的

| |
浮夸
|
|
邮箱：huangmnlove@163.com
|

签名由 网易邮箱大师 定制

在2019年01月24日 18:09，xingtaoshi 写道：

debug display nameSpace is null

com.alibaba.nacossync.timer.QuerySyncTaskTimer Line:81 - 从数据库中查询到一个同步任务，发出一个同步事件:TaskDO(id=10, taskId=3475b1b5c930dfe1f4f19001155c7e87, sourceClusterId=8afc6b7d4758bc2bcdaa93ad2017a304, destClusterId=d0cb5c71a5576c5839ba6f341c90b84c, serviceName=ndev-sync,

[2019-01-24 12:14] paderlol commented on #59
看一下是不是zk配置没有配对，或者nacos

| |
浮夸
|
|
邮箱：huangmnlove@163.com
|

签名由 网易邮箱大师 定制

On 01/24/2019 17:55, xingtaoshi wrote:

2019-01-24 17:51:34.649 ERROR com.alibaba.nacossync.extension.impl.ZookeeperSyncToNacosServiceImpl Line:149 - sync task from zookeeper to nacos was failed, taskId:3475b1b5c930dfe1f4f19001155c7e87
java.lang.NullPointerException: null
at com.alibaba.nacossync.extension.impl.ZookeeperSy

[2019-01-25 02:34] xingtaoshi commented on #59
确认 nacos 和zk 的配置都是正确的

[2019-01-25 02:35] #55 closed, assigned to paderlol

[2019-01-25 02:36] #53 closed, assigned to paderlol

[2019-01-25 02:36] #51 closed, assigned to paderlol

[2019-01-25 03:30] paderlol commented on #59
我这边试着重现你说的这个问题,发现只有在zk连接不上的时候才会出现这个问题。

[2019-01-25 16:08] paderlol opened #61 "Optimized Nacos sync to Zookeeper"
1. Currently, Parse interface name depends service name of task model

[2019-01-28 07:51] foamfish opened #63 "希望能提供批量同步功能"
现状：
现在nacosSync只能手动一个个添加SyncTaskEvent，通过service地址去zk里寻址并匹配version和group。

问题：
原遗留项目provider配置不规范，有的没有group，有的没有version。通过人工比对来追加效率很低下，给zk->nacos推进带来困难。

对策：
能否与dubbo ops 联动（或引用部分实现）， 达到同纬度检索功能（service，ip， application），通过选择service的方式来实现批量增加SyncTaskEvent功能。

[2019-01-28 09:41] paderlol opened #64 "when deleting zk sync to Nacos, throw the NPE"
# Issue
when deleting zk sync to Nacos, throw the NPE
* exception log:
[code]

[2019-01-28 10:45] foamfish opened #66 "NacosSync执行环境不同，导致同步异常"
环境1
nacosSync ： window
nacos： linux
zk：linux

结果：zk异常，且同步不成功
一个同步zk会多出一个与同步对应的奇怪的文件

环境2
nacosSync ： linux
nacos： linux
zk：linux

结果：zk正常，且同步成功

[2019-01-29 07:35] #64 closed, assigned to paderlol

[2019-01-29 07:36] #61 closed, assigned to paderlol

[2019-01-29 07:36] #59 closed, assigned to nobody

[2019-02-01 08:10] #14 closed, assigned to nobody

[2019-02-01 08:11] #13 closed, assigned to paderlol

[2019-02-01 08:11] #12 closed, assigned to loadchange

[2019-02-01 08:11] #15 closed, assigned to wyp12, loadchange

[2019-02-01 08:12] #2 closed, assigned to yangyshdan

[2019-02-01 08:12] #16 closed, assigned to paderlol

[2019-02-01 08:12] #17 closed, assigned to paderlol

[2019-02-01 08:12] #46 closed, assigned to wyp12, paderlol

[2019-02-01 08:16] #42 closed, assigned to paderlol

[2019-02-01 08:17] #21 closed, assigned to paderlol

[2019-02-01 08:17] #20 closed, assigned to paderlol

[2019-02-01 08:17] #28 closed, assigned to paderlol

[2019-02-01 08:17] #18 closed, assigned to paderlol

[2019-02-01 08:18] #38 closed, assigned to wyp12

[2019-02-11 06:49] riyueshiwang opened #68 "maven仓库在pom里没有配置，是配置在本地的setting文件里了么"
maven仓库在pom里没有配置，是配置在本地的setting文件里了么，有些插件下载不了

比如pom.xml中的以下插件：
[code]

[2019-02-14 08:13] morisenmen opened #69 "nacos-sync log"
when a sync task run,I get this log:[从数据库中查询到一个删除任务，发出一个同步事件:...],and noting else.The task is done,or failed,or running.I do not know anything.Should we get more infomation when the sync task started.

[2019-02-27 03:44] mingyixu opened #71 "nacos-sync need quick start doc to help config before start app"
nacos-sync need quick start doc to help config before start app

[2019-02-27 03:47] mingyixu opened #72 "nacos console need check required item before submit"
![image](https://user-images.githubusercontent.com/31835543/53464444-37a2fa80-3a85-11e9-87bf-60888916a3f2.png)

[2019-02-27 03:56] paderlol commented on #71
I wrote some doc for quick start.
This is git link [nacos-sync-example](https://github.com/paderlol/nacos-sync-example)

[2019-02-27 08:40] wyp12 commented on #69
由于数据的同步,依赖于每个产品的客户端,
这些都是异步的操作,无法从返回中得知背后任务执行的真实情况
需要用户操作任务之后,自己去目标集群检查数据情况

[2019-02-28 08:05] #72 closed, assigned to wyp12

[2019-02-28 08:06] #69 closed, assigned to nobody

[2019-02-28 08:07] #68 closed, assigned to mingyixu

[2019-02-28 08:09] wyp12 commented on #57
完成

[2019-02-28 08:09] #57 closed, assigned to wyp12

[2019-02-28 08:10] #47 closed, assigned to wyp12

[2019-02-28 08:10] #41 closed, assigned to loadchange

[2019-02-28 09:11] #66 closed, assigned to nobody

[2019-04-03 12:05] eacdy opened #76 "添加全量同步功能"
目前想将erueka切换成nacos，eureka上的服务比较多，按照目前的做法，得一个服务一个服务配置，配得要吐啊。建议添加全量同步功能。

[2019-04-03 12:07] paderlol commented on #76
我们已经在后续的规划中已经计划这个了，如果不出意外应该0.4.0会有这个功能

[2019-04-03 12:09] eacdy opened #77 "两个关于启动的bug"
1. 本仓库README中，写启动命令是
[code]
应该是
[code]

2. 0.3.0版本， `startup.sh` 中：
[code]

应该改为
[code]

[2019-04-09 02:04] paderlol commented on #77
好的，谢谢，我会马上修改

[2019-04-09 02:55] eacdy commented on #76
赞^_^

[2019-04-09 02:56] eacdy commented on #77
赞 ^_^

[2019-04-17 02:53] #33 closed, assigned to paderlol

[2019-04-19 06:54] flystar32 opened #78 "Nacos Readme error"
refer to https://github.com/nacos-group/nacos-sync#db-configuration

DB Configuration
In the bin folder, application.properties:

*******

actually there is no  application.properties file in bin folder

[2019-04-19 06:56] paderlol commented on #78
Thanks i will be fix it later

[2019-04-19 07:02] flystar32 opened #79 "can't start nacos sync server"
refer to readme

1. git clone git@github.com:nacos-group/nacos-sync.git
1. cd nacos-sync
1. mvn clean package -u
1. cd nacossync-distribution/target
1. unzip  nacosSync.0.3.0.zip
1. modify  ./nacosSync/conf/application.properties
1. cd to nacos-sync/nacossync-distribution/target/nacosSync/bin
1. sh startup.sh  restart

it doesn't work

[code]

[2019-04-19 07:06] paderlol commented on #79
plz use sh startup.sh start

[2019-04-19 07:09] flystar32 commented on #79
but the https://github.com/nacos-group/nacos-sync#start-server says use `sh startup.sh  restart`

[2019-04-19 07:10] flystar32 commented on #79
use  `sh startup.sh start`
still doesn't work

[code]

[2019-04-19 07:30] paderlol commented on #79
sorry,This is a bug, I will fix it because the logs directory does not exist and currently you can manually create a directory in /Users/yizhan/tmp/nacos-sync/nacossync-distribution/target/nacosSync/

[2019-04-19 07:34] flystar32 commented on #79
exec `sh start.up.sh start ` after mkdir nacos-sync/nacossync-distribution/target/nacosSync/logs

[code]

****

cat /Users/yizhan/tmp/nacos-sync/nacossync-distribution/target/nacosSync/logs/nacossync_start.out

[code]

[2019-04-19 07:37] paderlol commented on #79
Do you set JAVA environment variables eg. JAVA_HOME

[2019-04-19 07:44] flystar32 commented on #79
no, all the things have done are refer to readme. step by step.

***

after i set JAVA_HOME and rerun this phase

***
cat /Users/yizhan/tmp/nacos-sync/nacossync-distribution/target/nacosSync/logs/nacossync_start.out
[code]

[2019-04-19 07:48] flystar32 commented on #79
after modify the start.sh's content from `0.1.0.jar` to `0.3.0.jar`, it started successfully finally.

[2019-04-19 07:50] paderlol commented on #79
I‘m so sorry for that,This version of master appears to have been released without a test script

[2019-04-22 11:15] wyp12 commented on #79
已经更改
原有的0.3.0包，已重新打包

[2019-04-22 11:17] wyp12 commented on #78
已修复

[2019-04-22 15:24] #58 closed, assigned to wyp12

[2019-04-22 15:24] #77 closed, assigned to wyp12

[2019-04-22 15:24] #78 closed, assigned to wyp12

[2019-04-22 15:24] #79 closed, assigned to wyp12, paderlol

[2019-04-25 06:49] 511098425 opened #82 "数据同步到nacos后用客户端调用出现no providers found"
在控制台添加了同步任务后，在nacos的服务列表能看到同步的服务，但是使用nacos客户端调用发现找不到提供者，使用的alibaba cloud集成nacos搭建的。

[2019-04-30 03:28] nanamikon opened #83 "nacos集群之间同步数据，通过通用的sdk进行数据同步存在问题"
主要有下面几个问题
1、sdk拉取实例列表的时候，如果配置了selector， 拉取实例列表会不准， 导致数据同步有问题
2、sdk拉取实例列表的时候， 如果触发了protectThreshold， 会将所有实例的健康状态改为true， 导致同步到其他集群的时候，数据不准
3、sdk拉取实例列表的时候， 无法指定获取leader的数据， 导致拉取到的数据有可能并不是最新的数据， 需要与推送的数据的时间戳做对比， 才能作出判断
4、sdk注册实例的时候， 默认会上报心跳， 然而，对于不需要健康检查的服务来说， 这是不必要的

[2019-04-30 06:17] geercode opened #84 "有方法可以实现consul的ACL配置吗"
RT

[2019-04-30 06:20] paderlol commented on #84
目前没有实现ACL，目前都是主要在实现对接

[2019-04-30 10:08] geercode commented on #84
consul跟zookeeper是大头，希望能好好写下文档，改善一下界面引导。试了一下zk通了，consul还是没通，文档有点少啊，加油

[2019-04-30 10:08] #84 closed, assigned to nobody

[2019-05-02 05:48] paderlol opened #85 "Nacos sync to Consul"
Nacos sync to Consul

[2019-05-02 11:14] paderlol opened #87 "Nacos sync to Eureka"
Nacos sync to Eureka

[2019-05-15 00:52] paderlol opened #88 "Sync tasks support batch addition"
There are a lot of user feedbacks. Because Nacos sync can only associate one service with a synchronization task, this addition operation will be very unfriendly when a large number of services need to be migrated, so we need a function to add synchronization tasks in batches.

[2019-05-15 00:53] paderlol opened #89 "Synchronization tasks support batch deletion"
Currently, the deletion of synchronization tasks can only be manually deleted one by one. In the case of a large number of synchronization tasks, the user experience is very bad, so we need a multi-dimensional bulk deletion function.

[2019-05-15 00:55] paderlol opened #90 "Sync data status real-time display"
At present, the synchronization task sees the task status in the console smart, but there is no synchronization data status, and the user is more concerned about whether the data is truly synchronized successfully.

[2019-06-05 02:10] jackorjack opened #91 "nacosSync eureka sync to nacos, eureka can't sync to nacos with username and password"
## nacosSync eureka sync to nacos, eureka can't sync to nacos with username and password, I hope to use username and password to sync

### nacosSync eureka同步到nacos，eureka使用用户名和密码不能同步到nacos，希望使用用户名和密码也可以同步

[2019-06-09 14:29] paderlol commented on #91
不好意思回答晚了,你的eureka是否是使用的spring的security的basic验证进行的,如果是的话需要服务端关闭CSRF检查,因为Spring Cloud 2.0 以上的security默认启用了csrf检验，要在eurekaServer端配置security的csrf检验为false
[code]

[2019-06-26 12:37] yongchao9 commented on #89
有兴趣试一下这项任务，是否可以添加钉钉详细说下要求

[2019-06-26 12:43] paderlol commented on #89
非常欢迎，可以的，你可以nacos社区群找我

[2019-07-08 01:16] HRNonono opened #97 "Eureka sync to nacos (EurekaSyncToNacosServiceImpl line96 npe)"
eureka sync to nacos报错
EurekaSyncToNacosServiceImpl 96行 空指针错误，debug发现是
EurekaHttpClient eurekaHttpClient = eurekaServerHolder.get(taskDO.getSourceClusterId(), null); eurekaServerHolder的size为0

2019-07-07 20:44:08.638 INFO  com.alibaba.nacossync.extension.holder.AbstractServerHolder Line:39  - starting create cluster server,clusterId=f25df9683702cbc8fb629eb4eb74860a
2019-07-07 20:44:08.638 INFO  co

[2019-07-22 07:41] ghost opened #98 "When can spring cloud + ZK be supported to synchronize to Nacos"

[2019-08-09 09:50] #98 closed, assigned to nobody

[2019-08-13 08:07] glameyzhou commented on #97
先通过eureka open api看下对应的服务列表是否都存在，形如：
http://ip:port/eureka/apps/${serviceName}

你那边异常 eureka Holder为空，说明创建实例失败了，注意下eureka对应的connect_key_list值应该是http://ip:port/eureka，不能直接写一个IP。

[2019-08-16 05:06] zhengzepeng commented on #97
看DefaultEndpoint构造函数：
`
public DefaultEndpoint(String serviceUrl) {
        this.serviceUrl = serviceUrl;

        try {
            URL url = new URL(serviceUrl);
            this.networkAddress = url.getHost();
            this.port = url.getPort();
            this.isSecure = "https".equals(url.getProtocol());
            this.relativeUri = url.getPath();
        } catch (Exception var3) {

[2019-08-18 03:43] evancyz opened #99 "ZK到NACOS"

[2019-08-18 03:50] evancyz opened #100 "ZK到NACOS同步时，因为dubbo的group为空，导致注册到nacos服务不匹配"
现象：
在 `nacos-sync`建了一个同步任务，同步也成功了，但是在nacos的注册列表里是这样
`providers:com.xxx.sms.api.service.xxxService:1.0.0`
这个服务我们旧项目里没有grouopName

可是消费这个任务时，他的命名是这样：
`consumers:com.piaoniu.sms.api.service.SmsService:1.0.0:`
多了一个 结尾多了一个冒号 :

这个看起来在dubbo那边是符合预期的，这样就导致匹配不上了

查源码最后查出来是这个问题：

[code]

`queryParam` 这个变量，是从zk里读的，读出来因为没有groupName 所以为空。。这里就被skip掉了。。

我给 `nacos` 提了 issue，问题缘由都在这里 ：
https://github.com/alibaba/

[2019-08-18 04:08] #100 closed, assigned to nobody

[2019-08-18 04:09] paderlol commented on #100
这个问题似乎是dubbo建立消费者时不对吧？多一个冒号，从理论上讲最后为空组，应该什么都没有才对。

[2019-08-18 04:28] evancyz commented on #100
从dubbo 的 2.7.3 配置中心的重构来看  `org.apache.dubbo.common.URLTest`

[code]
默认无group的情况 他最后消费者的url 就是 最后会跟一个 冒号：

所以是dubbo重构那边的问题了么

[2019-08-18 04:36] paderlol commented on #100
嗯，跟Dubbo需要确认下，如果他们规定就是这么搞，那我这边改下，我个人是觉得似乎不太合理，没有的情况下跟一个冒号，不知道出于什么考虑。

[2019-08-18 04:46] evancyz commented on #100
是的。。我也觉得，我给他们提了issue。。https://github.com/apache/dubbo/issues/4864 在这里。。

[2019-08-26 10:42] Seriels opened #101 "windows run nacos-sync appear error"
![image](https://user-images.githubusercontent.com/33693501/63684952-bb6d5200-c830-11e9-8a7f-f47b04138097.png)
  my java version 1.8    is default  install  manner
   see this through the log

[2019-09-11 16:51] chuntaojun opened #102 "Service cannot registered, openAPI query result not consistent"
https://github.com/alibaba/nacos/issues/1712

[2019-09-26 09:40] chenzhenchang opened #103 "请问Nacos-sync 高可用集群设计吗？"
用于过度ZK到nacos 服务迁移，感谢您的回答，谢谢！

[2019-10-08 01:51] brucelwl opened #104 "nacos-sync使用nacos-client 1.1.3版本后,nacos数据无法同步到ZK"
我看了下nacos-sync的nacos客户端版本使用的是0.5.0,
由于我的``nacos-server端版本是1.1.3``
当我将nacos-sync中的依赖换成``nacos-client 1.1.3``版本后,
nacos数据向ZK同步无效的,

[2019-10-08 06:28] brucelwl opened #105 "nacos数据同步到zk,weight参数值读取不正确"
nacos-client默认会将weight参数值设置为1.0,
当dubbo服务注册到nacos, 由nacos同步到ZK时,会将nacos默认设置的weight参数同步到ZK,
而这个值默认情况下dubbo设置的是100,即时开发者设置了服务的weight,也将被nacos的值覆盖,
解决方案: 当从nacos查询数据同步到ZK时,应该只查询元数据, nacos默认设置的weight参数值不应该读取.
![image](https://user-images.githubusercontent.com/13413715/66372144-df978380-e9d7-11e9-8cf0-d51ef2c6ce93.png)

[2019-10-09 14:04] #105 closed, assigned to paderlol

[2019-10-17 01:30] liangxp commented on #97
兄弟是不是集群的IP列表配置错误了，eureka的IP列表应该配置成“http://IP:port/eureka”这种形式

[2019-11-05 04:21] wangxiaotao00 opened #110 "Nacos-sync支持mpc协议同步到Pilot？"

[2019-11-05 12:44] Seriels opened #111 "如何 nacos-sync 将 naocs 0.8 升级到 nacos 1.1.3"
我现在遇到了  低版本的nacos 向高级版本的naocs 升级 发现无法  同步

[2019-11-05 15:03] paderlol commented on #111
具体问题是指？

[2019-11-05 15:03] paderlol commented on #110
现在没有，可以具体描述下你的问题吗？

[2019-11-06 01:19] Seriels commented on #111
我按照文档 启动并且配置好 nacos-sync  并开启了 0.8 （172.18.0.2）到 1.1.3（172.19.0.4）  的 同步   但是 日志却只有提示一句 从数据库中查询到一个同步任务，发出一个同步事件  然后什么都没有发生了。。。。  1.1.3 的nacos 里面还是什么都没有。。。 所以 如何在生产环境平滑升级到 1.1.3
![image](https://user-images.githubusercontent.com/33693501/68260014-83775c00-0076-11ea-8ec6-61cb3115cdc0.png)
![image](https://user-images.githubusercontent.com/33693501/68260023-912ce180-0076-11ea-985e-28d7dfa7613c.png)

[2019-11-06 03:28] paderlol commented on #111
如果是0 8到1.1.3应该是版本不兼容，api发生变化了

[2019-11-06 03:32] Seriels commented on #111
所以  我该如何使nacos升级   , nacos-sync  什么时候会支持 这种低版本向升级到高版本的 功能 TAT

[2019-11-06 03:35] paderlol commented on #111
1.0以后的版本都是稳定的，而且1.0以后有了导出

[2019-11-06 03:46] paderlol commented on #111
你的这个问题我反馈给nacos这边了，会考虑下怎么处理这个兼容问题

[2019-11-06 04:04] Seriels commented on #111
好的 谢谢 了 麻烦您了

[2019-11-12 04:00] sanguolingzi opened #112 "nacos-sync 对 dubbo http协议的支持"
环境:
使用的是dubbo2.7.1  zookeeper 3.4.13 dubbo使用的是 http协议注册到zk   并配置使用servelt接收方式接收请求。
nacos-sync.0.3.2     nacos.1.1.4  版本
使用nacos-sync 连接 zk和nacos进行同步

现象:
消费端连接nacos 消费
出现服务无法消费的情况 http请求的uri上 没有dubbo对应的interface 导致 dubbo服务端无法解析

其它情况:
使用dubbo协议注册到zk 没有这个问题

[2019-11-12 04:03] paderlol commented on #112
你的需求是？

[2019-11-12 04:38] sanguolingzi commented on #112
dubbo注册zk  通过 nacos-async 同步到 nacos-server  消费端通过nacos-server消费
dubbo的底层使用http协议

[2019-11-12 06:01] sanguolingzi commented on #112
同样的搭配方式下,只是协议dubbo底层使用的 dubbo协议  就可以调用

[2019-11-12 06:11] sanguolingzi commented on #112
![服务信息说明](https://user-images.githubusercontent.com/15864564/68646254-9944bf80-0555-11ea-8bc1-2c233761763f.png)
这个图是我使用http协议后 在nacos中查看的服务信息
图片中左侧的是直接使用nacos
图片中右侧是经过nacos-async 从zk中同步到nacos
可以看到左右两个服务的信息有一些差异
主要是path=dubbo/demoApi 这一项在右侧不存在
不知道是不是导致使用http协议无法调用的原因

[2019-11-12 08:58] paderlol commented on #112
我知道了，目前sync默认使用的dubbo协议

[2019-11-12 09:59] sanguolingzi commented on #112
好的,那这一块后续是否会更新支持更多的协议?

[2019-11-12 10:00] paderlol commented on #112
会的，或者你们也可以贡献pr进来一起做的

[2019-11-12 10:03] sanguolingzi commented on #112
那请问下这一块相关的代码说明有么?

[2019-11-12 10:09] paderlol commented on #112
官网有一点介绍的

[2019-12-02 05:35] xiongrl opened #113 "内存溢出 请升级 nacos.client version到 1.1.4"
nacos client在多次 registerInstance 后，导致心跳的定时任务越来越多，导致内存溢出
详见 https://github.com/alibaba/nacos/blob/1.1.4/client/src/main/java/com/alibaba/nacos/client/naming/beat/BeatReactor.java#L61

下面是dump分析
![image](https://user-images.githubusercontent.com/4568603/69933115-8f84fb00-1508-11ea-85e6-f6315193ba16.png)

[2019-12-03 06:38] #104 closed, assigned to nobody

[2019-12-03 06:39] paderlol commented on #113
我周末会进行升级

[2019-12-03 06:39] #111 closed, assigned to nobody

[2019-12-03 06:40] paderlol commented on #104
目前已经升级到1.1.3,也没有同步zk的不生效问题,不过如果你是想从nacos同步到spring cloud zk那就不行了

[2019-12-27 08:18] niejian opened #124 "Eureka同步到nacos，eureka下线，nacos不下线"
Eureka同步到nacos时，当某个服务下线，Eureka上已找不到这个服务信息。但是在nacos界面上还能看到。查看access_log仍然有心跳服务请求。

[2019-12-27 09:25] paderlol commented on #124
谢谢，这确实是一个问题，我马上修复下

[2019-12-27 10:19] paderlol commented on #113
Fixed 请升级到0.3.3版本

[2019-12-27 10:19] #113 closed, assigned to paderlol

[2019-12-27 10:20] #99 closed, assigned to nobody

[2019-12-27 10:23] paderlol commented on #103
这个可以参考官方文档 [设计文档](https://nacos.io/zh-cn/docs/nacos-sync.html),Nacos Sync由于使用了数据库存储同步任务信息,所以可以使用多个Nacos sync实例共享同一个数据库进行同步,来达到集群的效果

[2019-12-27 10:23] #103 closed, assigned to nobody

[2019-12-27 10:25] paderlol commented on #124
已经修复掉了,等下会发一个小版本上去.

[2020-01-02 05:49] niejian commented on #124
在不能修改eureka-server的情况下，我这边加了个定时器去扫描task表，判断是否还在Eureka中，不过不在的话就调用nacosSync  <font color=red>**下线**</font> 按钮的http请求。这样也能做到nacos对eureka的同步

[2020-01-02 05:51] paderlol commented on #124
可以使用新的版本，我已经修复了

[2020-01-03 03:41] niejian commented on #124
大胸弟威武。升级到0.3.4就解决了

[2020-01-03 03:41] #124 closed, assigned to paderlol

[2020-01-07 05:56] niejian opened #129 "zk同步过来的服务会掉线"
zk同步过来的服务在一段时间后会在nacos控制台消失，但是dubbo-monitor上依然存在该服务

[2020-01-07 08:20] paderlol commented on #129
如果zk发生移除,确实会马上消失,另外一种是心跳导致的,这个要具体看才知道,我测试了下没有重现这个问题

[2020-01-10 01:15] niejian commented on #129
没有重连机制吗。服务可能重启。但是重启后，nacosSync似乎没有重连。

[2020-01-10 01:16] paderlol commented on #129
哪边的服务重启？是指nacos吗？

[2020-01-10 01:22] niejian commented on #129
不是nacos；是同步过来的服务，xxxService。<br/>
nacosSync这边重连应该是要以task表中的数据跟zk上的znode节点做对比吧，

[2020-01-10 01:27] paderlol commented on #129
你重启的话只要zk节点有变化，这边就会重新同步，你重启服务下线，就会移除，重新上线，zk变化就会同步到nacos

[2020-01-10 01:35] niejian commented on #129
是的，我这边测试过几次，znode这边的变化能比较快速的反馈到nacos。但是我提的 注册到zk上的服务重启，导致nacos上对应的服务信息消失也确实存在。

[2020-01-10 01:36] paderlol commented on #129
好，我晚上测一下， dubbo的版本是？

[2020-01-10 01:48] niejian commented on #129
比较老的项目。dubbox （2.8.4）

[2020-01-10 01:49] paderlol commented on #129
Ok，我测下，如果确实有这个问题，我看能否马上修复下

[2020-01-10 15:33] paderlol commented on #129
我刚刚测试了 dubbox 2.8.4 试验了重启和停止后重启两个场景,同步都是正常的,
Nacos : 1.1.4
Sync:0.3.4
Maven依赖:
[code]
![image](https://user-images.githubusercontent.com/7919984/72164726-32327280-3401-11ea-9614-2c16cdefb5fb.png)
你可能要排查下你自己的程序了,不排除是使用过低的zk server导致的,我这里使用的是3.4.9

[2020-01-10 15:36] #97 closed, assigned to nobody

[2020-01-10 18:38] paderlol commented on #102
This issue has been resolved, you can use version 0.3.5 of Nacos Sync.

[2020-01-10 18:38] #102 closed, assigned to paderlol

[2020-01-10 18:48] #85 closed, assigned to paderlol

[2020-01-10 18:48] #87 closed, assigned to paderlol

[2020-01-10 18:49] #8 closed, assigned to hxy1991, yangyshdan

[2020-01-10 18:49] #23 closed, assigned to nobody

[2020-01-13 12:35] #129 closed, assigned to paderlol

[2020-01-16 09:13] lkxiaolou opened #133 "zk -> nacos同步，节点下线报NPE"
![image](https://user-images.githubusercontent.com/6935924/72509850-5d92e280-3883-11ea-88b2-8ae396be4ea5.png)

[2020-02-04 05:13] CodingSinger commented on #76
目前该功能什么进度

[2020-03-02 10:53] paderlol commented on #133
我拿的是上一层的data,这个null NPE没关系

[2020-03-02 11:05] #133 closed, assigned to paderlol

[2020-03-02 11:06] paderlol commented on #133
请确认下是不是别的问题导致的NPE,我暂时先关闭这个issue了,欢迎联系我

[2020-03-19 13:45] Heguoya opened #136 "eureka集群配置问题"
配置集群模式，保存在数据后，格式出现问题，这个难道就我自己出现了？["\"http://10.19.*.*:6870/eureka\",\"http://10.19.*.*:6870/eureka\",\"http://10.19.*.*:6870/eureka/\""]

[2020-03-19 14:03] paderlol commented on #136
嗯，目前eureka确实只支持一个节点

[2020-03-19 14:58] paderlol commented on #136
因为eurekaclient 本身并没有做多节点集群的负载均衡，扩展性比较差，直接使用spring 的 clouddiscoveryclient 强制要求去注册服务，所以并没有采纳。不过eureka单节点做迁移的话应该还好，因为他毕竟不是像dubbo注册的是服务实例，注册都是应用实例

[2020-03-20 07:24] Heguoya commented on #136
多谢，公司一个需求，正好使用到这个项目。

在 2020-03-19 22:58:45，"pader" <notifications@github.com> 写道：

因为eurekaclient 本身并没有做多节点集群的负载均衡，扩展性比较差，直接使用spring 的 clouddiscoveryclient 强制要求去注册服务，所以并没有采纳。不过eureka单节点做迁移的话应该还好，因为他毕竟不是像dubbo注册的是服务实例，注册都是应用实例

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-03-20 07:25] paderlol commented on #136
客气。

[2020-03-20 07:25] paderlol commented on #136
客气。

[2020-03-20 08:25] #136 closed, assigned to nobody

[2020-04-11 14:23] paderlol opened #142 "fix: 修复eureka同步nacos的逻辑错误"
感谢@zhayujie同学提供的PR #140

[2020-04-11 14:23] #142 closed, assigned to paderlol

[2020-04-20 09:37] niejian opened #145 "Eureka同步至nacos优化讨论"
在类`EurekaSyncToNacosServiceImpl#sync()`

如果已经从Eureka中同步节点a，b到nacos，此时b服务关闭，并且b发送restful到eureka server删除b注册的节点信息。此时b节点信息一直在nacos中导致服务调用报错。所以是不是**在判断`Objects.nonNull(instanceInfos)`前应该全部删除nacos上的实例信息**
[code]

[2020-04-21 17:27] paderlol commented on #145
之前已经优化了在develop，这周末发版本

[2020-04-22 12:51] niejian commented on #145
拭目以待

[2020-04-22 13:23] paderlol commented on #145
👌🏻，也感谢你的意见

[2020-04-24 04:24] niejian commented on #145
我用dubbo2.6.6, 从zk同步到nacos，某些服务会时不时掉线，这时什么情况啊，能加微信聊下吗？

[2020-04-24 04:41] paderlol commented on #145
这个可能跟心跳有关系

[2020-04-24 04:53] niejian commented on #145
已经做了个定时任务去比对nacos与zk的差异，然后将差异部分重新发送心跳。感觉这个治标不治本

[2020-04-24 04:58] paderlol commented on #145
可能需要把心跳转移到服务端去做，由nacos server探测服务实例

[2020-04-26 15:15] paderlol commented on #145
#140

[2020-04-26 15:15] #145 closed, assigned to nobody

[2020-04-27 03:06] cdmaji opened #148 "nacos-sync0.3.x对应nacos版本是多少"
nacos-sync0.3.x对应nacos版本是多少 测试最新版本nacos 1.2.1 同步并不成功(zk-->nacos)

[2020-04-27 07:01] cdmaji commented on #148
closed by myself. cause by: nacos-sync0.3.x依赖nacos-client为1.0.4，使用nacos 1.2.1server，并不兼容，更换client version为1.2.1解决。避免后续同学踩坑。

[2020-04-27 07:07] #148 closed, assigned to nobody

[2020-05-19 01:09] jeremy7xu opened #149 "eureka同步到nacos报空指针"
![image](https://user-images.githubusercontent.com/31699314/82273598-738aee00-99b0-11ea-9f6c-ad7c9e4c0ed0.png)

[2020-05-19 01:10] jeremy7xu commented on #149
java.lang.NullPointerException: null
	at com.alibaba.nacossync.extension.impl.EurekaSyncToNacosServiceImpl.sync(EurekaSyncToNacosServiceImpl.java:90)
	at com.alibaba.nacossync.extension.SyncManagerService.sync(SyncManagerService.java:55)
	at com.alibaba.nacossync.event.listener.EventListener.listenerSyncTaskEvent(EventListener.java:65)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method

[2020-05-19 01:38] paderlol commented on #149
你eureka集群配置不对

[2020-05-19 01:39] paderlol commented on #149
http://IP:port/eureka

[2020-05-19 01:53] jeremy7xu commented on #149
多谢纠正，但是我修改后又出现了这个报错
Caused by: org.springframework.http.converter.HttpMessageNotReadableException: JSON parse error: Root name 'timestamp' does not match expected ('application') for type [simple type, class com.netflix.discovery.shared.Application]; nested exception is com.fasterxml.jackson.databind.exc.MismatchedInputException: Root name 'timestamp' does not match expected ('application') for ty

[2020-05-19 02:18] paderlol commented on #149
没获取到对应application，我推测可能是eureka版本不兼容导致的

[2020-05-19 02:25] jeremy7xu commented on #149
我们的cloud版本是Dalston.SR3，这样的话我降一下nacosSync的版本试试

[2020-05-19 02:36] paderlol commented on #149
Finchley.SR2/Greenwich.SR1这两个版本我刚试了都没问题的

[2020-05-19 02:37] jeremy7xu commented on #149
好的，感谢！

[2020-05-20 10:35] swppt opened #150 "同步过程中的认证问题"
如果nacos或者eureka都开启了权限，都需要用户名密码才能访问rest-api，那nacos-sync同步的时候该如何做？目前nacos开启了权限，nacos-sync就无法同步到eureka

[2020-05-20 10:36] paderlol commented on #150
嗯，暂时是不支持1.2.1的鉴权模式

[2020-05-28 05:38] #71 closed, assigned to paderlol

[2020-06-15 10:43] allen-kaiser-cai commented on #148
我这边用最新的nacos 1.3.0版本，也是无法同步成功(zk-->nacos)

[2020-06-15 10:45] paderlol commented on #148
Dubbo吗？

[2020-06-16 02:23] allen-kaiser-cai opened #154 "nacos sync目前只支持Dubbo服务进行注册中心迁移吗？"
@paderlol 你好，请问当前版本的nacos sync是否只支持Dubbo服务的注册中心从Zookeeper或Consul迁移到Nacos啊？如果我们的微服务是基于Spring Could，想把注册中心从Zookeepr迁移到Nacos, nacos sync能支持吗？谢谢

[2020-06-16 02:25] paderlol commented on #154
暂时没有，可以考虑做一个

[2020-06-17 00:46] allen-kaiser-cai commented on #154
谢谢你的答复

[2020-06-29 13:30] wyp12 opened #155 "支持Dubbo服务从ZooKeeper同步到ZooKeeper"
Dubbo注册到ZooKeeper的服务，在做ZooKeeper迁移的时候，为了保证服务迁移平滑，需要支持ZooKeeper到ZooKeeper的同步能力，并且支持Dubbo服务的批量选择同步。
![image](https://user-images.githubusercontent.com/4252147/86011688-98fb2500-ba4f-11ea-9375-c2467e5388c7.png)

[2020-06-30 09:46] junjie-tang99 opened #156 "Nacos-Sync是否支持Nacos集群之间的配置信息同步"
我们的服务在3个机房都会进行全量部署，同时每个机房都会部署1套Nacos集群。想确认下，Nacos-Sync是否支持Nacos集群之间的配置信息同步，不仅仅是服务信息的同步？

[2020-06-30 09:57] paderlol commented on #156
是每个集群后面的数据库都是独立的吗？目前是没有集群之间的互相同步的，你指的的同步是服务信息同步，还是同步任务同步？如果是服务信息同步这个肯定不能集群和集群之间同步，因为这里涉及到心跳问题，如果是任务同步这个我不理解具体的意义是哪里？

[2020-07-01 07:21] junjie-tang99 commented on #156
是每个集群后面的数据库都是独立的吗？
答复：每个Nacos集群后面的数据库都是独立的

目前是没有集群之间的互相同步的，你指的的同步是服务信息同步，还是同步任务同步？
答复：我指的是Nacos中的配置信息同步。因为，在多机房的场景下，除了中间件的服务地址不同以外，大部分的应用配置信息都是一样的。所以，我们想实现的效果是，修改一个机房中的配置信息，可以将配置信息同步到其他机房的Nacos集群中。

[2020-07-01 14:33] paderlol commented on #156
配置信息不支持同步，只支持注册中心，不过nacos本身支持配置信息导入的，可以自己通过程序互相API直接导入

[2020-07-06 08:50] yueyuanyu opened #157 "使用eureka同步至nacos可以成功,但nacos同步至eureka却失败了"
使用eureka同步至nacos可以成功,但nacos同步至eureka不行,但是readme上介绍的是可以支持nacos
同步至eureka的.请问这是怎么回事

[2020-07-08 06:46] paderlol commented on #157
Cloud吗？

[2020-07-08 06:51] paderlol commented on #157
能提供下错误日志吗？

[2020-07-08 06:57] paderlol commented on #157
这种很有可能是eureka版本导致的，传输的结构变化导致的，但是具体需要看错误日志

[2020-07-08 12:59] yueyuanyu commented on #157
我们的eureka版本很低,sync控制台不报错呀 发出一个同步事件后就没输出任何有关这个任务的日志了

[2020-07-08 13:01] paderlol commented on #157
Eureka server端报错了吗？

[2020-07-08 13:04] paderlol commented on #157
还有你同步的方式，是从nacos新注册一个服务同步到Eureka，如果是eureka同步过来的服务，nacos是不会再同步了的，可以参考https://github.com/paderlol/nacos-sync-example 这是我写的几个例子

[2020-07-09 17:04] tim1888 opened #158 "nacos sync双向同步咨询"
@paderlol
1、nacos sync双向同步：是指服务A的一个实例A1注册在Nacos，另一个实例A2注册在Zookeeper，这时候是可以分别由Nacos同步到Zookeeper、Zookeeper同步到Nacos，两边不会重复？

2、看到你去年5月份文章，说在规划0.40版本了，最近开发到什么进度了？
期待：同步数据一致性校验、支持 Eureka/Consul 和 Nacos 的双向同步

[2020-07-10 01:38] paderlol commented on #158
1.第一个问题，不会重复，因为双向同步得时候在元数据里面做了打tag操作。
2. 第二个问题 eureka consul双向同步已经实现，双方数据一致性校验暂时没有做，由于个人工作原因没有及时开发，不好意思。另外consul同步暂时不支持多datacenter模式

[2020-07-10 07:43] yueyuanyu commented on #157
你好 ,eureka端没有报错, nacos-sync端也只是发出一个同步任务后就没动静了  我们springcloud版本是E.是版本太低的原因吗  测试方式是直接注册到nacos上的服务同步到eureka 目前我们想要的效果是nacos和eureka双向同步实现平滑迁移至nacos 即线上所有服务从eureka同步至nacos, 以后的服务直接注册到nacos端, nacos端上线一个服务就同步至eureka上,同时,eureka上下线一个服务,最终全部迁移至nacos.实现平滑迁移.

[2020-07-10 07:52] paderlol commented on #157
不应该你是不是填了组？

[2020-07-10 07:56] paderlol commented on #157
nacos 添加同步任务不用填写组的

[2020-07-10 07:57] yueyuanyu commented on #157
![image](https://user-images.githubusercontent.com/33542699/87130783-074cac80-c2c6-11ea-8b2e-1bcd42b79968.png)
queshi确实填了组

[2020-07-10 07:57] yueyuanyu commented on #157
我试下不填组

[2020-07-10 07:59] paderlol commented on #157
Nacos目前不支持组，只会在default下面寻找

[2020-07-10 08:02] yueyuanyu commented on #157
原来如此 可以了 谢谢

[2020-07-10 08:03] paderlol commented on #157
这个功能，我看下周末有时间就加上

[2020-07-10 08:05] yueyuanyu commented on #157
如果能支持nacos的nameSpace就好了 之前看有那个字段 尝试前端开放 发现没什么用,很尴尬

[2020-07-10 08:12] #157 closed, assigned to nobody

[2020-07-15 09:57] samandqq commented on #156
请教一下哈，这里的API导入是指批量导入，还是指openapi里面的‘发布配置API’（逐条导入）

[2020-07-15 10:19] paderlol commented on #156
可以批量

[2020-07-21 04:57] ankeway opened #160 "NacosSyncToEurekaServiceImpl Nacos同步Eureka，Nacos中的metadata没有同步到Eureka内，"
NacosSyncToEurekaServiceImpl中buildSyncInstance中，metadata数据，没有metaData.putAll(instance.getMetadata());复制nacos中的metadata，导致eureka里metadata不全。

[2020-08-06 07:20] lexburner opened #167 "优化 Nacos 向 Nacos 同步的方案"
1. 目前 Nacos 向 Nacos 同步服务不支持填写 namespace，建议支持掉 namespace 的设置。
2. Nacos 向 Nacos 同步时有一个分组的框可以设置，但其实只支持留空，代表 DEFAULT_GROUP，会给用户带来困扰，建议去掉，或者采取其他优化方式。
3. 目前只支持单个服务同步，最好能够支持通配符的方式批量同步。

[2020-08-28 07:01] xiongshilin opened #168 "web控制台上删除同步任务，实际做了物理删除会导致该任务无法从内存中同步剔除掉"
在web控制台上直接删除某个任务做了物理删除，会出现QuerySyncTaskTimer在下次执行时再也获取不到被删除的任务，内从中任务会一直存在除非重启服务

[2020-08-28 10:46] paderlol commented on #168
哪个同步？

[2020-08-31 07:01] xiongshilin commented on #168
QuerySyncTaskTimer 就是这个定时任务扫描数据库的同步任务时候，如果在控制台暂停任务后很快做一个删除，就有可能出现内存任务无法同步暂停删除掉。我们在部署测试环境时候遇到了。我们用的版本是0.3.9

[2020-08-31 07:18] paderlol commented on #168
嗯，可能会有这个问题，我想下怎么修复下，因为你删除物理数据以后，定时任务找不到了，所以无法清理这个任务了

[2020-09-23 08:46] cncentoscn opened #171 "从Eureka同步到nacos，不能同步么？"
020-09-23 16:36:05.143 ERROR com.alibaba.nacossync.extension.holder.AbstractServerHolderImpl Line:48  - clusterId=1fdc0f56ea8b9572bf033124a2cefc8a, start server failed
java.lang.IllegalArgumentException: Malformed serviceUrl: 10.1.1.2:8001/eureka/
	at com.netflix.discovery.shared.resolver.DefaultEndpoint.<init>(DefaultEndpoint.java:45)
	at com.alibaba.nacossync.extension.holder.EurekaServerHolder.

[2020-09-23 08:53] cncentoscn commented on #171
2020-09-23 16:52:40.780 ERROR com.alibaba.nacossync.extension.impl.EurekaSyncToNacosServiceImpl Line:105 - sync task from eureka to nacos was failed, taskId:251d5bd32751e0dbbff53f24b27d28ef
org.springframework.web.client.ResourceAccessException: I/O error on GET request for "http://10.0.0.106:8001/eureka/apps/Sync": Connection timed out (Connection timed out); nested exception is java.net.ConnectE

[2020-09-23 08:55] #171 closed, assigned to nobody

[2020-09-23 09:08] cncentoscn opened #172 "从EUREKA同步到nacos，没反应呢。"
2020-09-23 16:58:13.363 INFO  springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator Line:40  - Generating unique operation named: handleUsingGET_19
2020-09-23 16:58:13.384 INFO  springfox.documentation.spring.web.readers.operation.CachingOperationNameGenerator Line:40  - Generating unique operation named: deleteTaskUsingDELETE_1
2020-09-23 16:58:13.392 INFO  springfox.

[2020-09-23 09:57] xiarixigua commented on #172
我也遇到一样的问题，把同步服务的服务名改成Eureka的Application名就好了

[2020-09-23 11:09] cncentoscn commented on #172
2020-09-23 19:08:25.888 INFO  com.alibaba.nacossync.extension.impl.EurekaSyncToNacosServiceImpl Line:116 - Add service instance from Eureka, serviceName=ADMIN-API, Ip=10.1.1.4, port=8130
2020-09-23 19:08:25.891 ERROR com.alibaba.nacossync.extension.impl.EurekaSyncToNacosServiceImpl Line:105 - sync task from eureka to nacos was failed, taskId:5f55de56f1240a1c7d9c7f0aed71e3de
com.alibaba.nacos.api.e

[2020-09-23 12:01] zhaoli2333 opened #173 "eureka同步到nacos，暂停同步后，服务依然注册在nacos上，没有注销"
**产生** <br />
部署了多个nacos-sync实例，把注册的服务从eureka同步到nacos。然后，在nacos-sync后台对某个服务点击暂停同步。
<br />
**期望** <br />
被同步到nacos的服务在nacos下线。
<br />
**实际** <br />
没有下线，依然注册。

<br />

**原因** <br />
nacos-sync通过nacos-client把从eureka读到的服务注册到nacos，本地维护一个注册列表，nacos-sync要代理列表里的真实服务和nacos建立心跳（实际上是代替真实的服务节点和nacos建立的心跳）。
<br />
另外nacos-sync同时也从nacos订阅了这个服务，本地还有另一个订阅列表。暂停同步的逻辑是从订阅列表获取服务，再去注册列表里面解除心跳。
<br />
当用户从后台点击暂停同步，实际上

[2020-09-24 02:19] paderlol commented on #173
我明白你的意思了,你是说因为Nacos通过事件已经删除了,但是本地未进行移除,导致注册数据会在另外一个集群继续保持，是这个意思吗？

[2020-09-24 08:48] zhaoli2333 commented on #173
是的，本质上是多nacos-sync实例部署环境下，nacos-client的注册列表和订阅列表不一致的问题。

[2020-09-24 09:55] paderlol commented on #172
这是说你的配置的地址似乎格式有问题，好像有空格

[2020-09-25 02:56] #172 closed, assigned to nobody

[2020-09-27 08:59] cdmaji opened #174 "代码中serviceName使用默认gourpId导致配置Nacos至zk同步不成功"
NacosSyncToZookeeperServiceImpl中134行，      List<Instance> sourceInstances = sourceNamingService.getAllInstances(taskDO.getServiceName()); 调用getAllInstances API 没有传入GroupName，如果使用自定义的GroupName导致Nacos服务端/install/list接口无法获取instance，请问这个地方是一个bug还是有其他考虑呢？

[2020-09-27 09:03] paderlol commented on #174
如果是默认 Nacos group就不需要填写，另外当前不支持自定义的Nacos group同步

[2020-09-28 02:26] cdmaji commented on #174
另外，目前同样是nacos-->zk同步，namespaceId使用的是groupName，如果namespaceId和groupName不一致，同样导致去nacos获取不到instance（比如namespaceId:public groupName: DEFAULT_GROUP），这一块也暂时不支持吗？

[2020-09-28 02:28] paderlol commented on #174
嗯，目前就支持默认空间的

[2020-09-28 02:56] cdmaji commented on #174
好，谢谢

[2020-09-28 02:56] #174 closed, assigned to paderlol

[2020-10-02 05:55] paderlol commented on #173
这个问题实际上不是nacos client的问题，应该是暂停同步时，需要从Eureka本身的实例来进行移除，就可以了。

[2020-10-02 05:55] paderlol commented on #173
我来修复下这个问题，感谢你发现的问题

[2020-10-09 08:47] cdmaji opened #177 "关于集群部署问题"
当前sync貌似不支持集群环境多节点部署，如果部署多节点，从效果上看(Nacos-->ZK为例)基本上是每个节点都是初始化同步&创建订阅，根据通知更新zk，或许从效果上看大部分情况下最终能在周期内达到一致，但是如果考虑复杂极端情况下(如多次短间隔内的修改，多节点之间订阅通知时序差异问题)，可能导致最终数据的不正确。其实，解决方法挺多，如在多个节点操作时增加一个带时序的互斥，即可做到。 这点请问后续有没有考虑加入？否则，单节点执行同步任务，在节点意外情况下，需要监控等后续运维快速定位并处理，否则可能对于服务调用来说可能导致大量报错。

[2020-10-09 08:50] paderlol commented on #177
你是指的同一个数据库吗？如果是同一个数据库，应该只会有一个任务会执行

[2020-10-09 09:12] cdmaji commented on #177
是同一个数据库，貌似跨进程之间不能保证只有一个任务执行吧，只能同一进程内通过finishedTaskMap保证只有一个任务执行吧。

[2020-10-09 09:35] paderlol commented on #177
哦，明白你的意思了，你需要部署多实例sync来做注册中心同步？但是会有需求频繁变动服务上下线，所以出现ABA问题？我没有太理解这个点，能详细说下吗？

[2020-10-09 10:15] cdmaji commented on #177
首先考虑到sync的可用性，采用多sync实例来做是最直接的，这是我们考虑多实例sync来做注册中心同步的目的；
然后，类似ABA问题，多节点执行A[]至B[]的同步更新，虽然最终能保证B[]的正确可用列表，但是很有可能是A[]-->B[]-->A[]--->B[]等的时序问题，虽然最终可以一致，但是中间不可用列表的时间将会和节点数成正比；并且zab本身是单leader，写性能本身就有局限，没有必要增加zk的写压力；并且，依赖于zk的watch事件，我们没有做事件merge，多次对于同一path的重复ABA操作会导致多次事件触发。
其实，问题本身就是多节点同时执行任务的时候带来的复杂度增加的问题，只要保证一个任务只执行一次既可。这样复杂度会降低很多。

[2020-10-09 10:38] paderlol commented on #177
嗯，懂了，其实之前有考虑过引入zk锁来解决这个问题，但是当时一直在考虑是否额外引入zk的锁机制解决这个问题不太好，因为其他服务同样也存在这个问题，我在想可能去依赖Nacos本身来解决这个问题，在同步的同时去Nacos注册一个伪装服务，用来判断是否已经有节点在处理相关任务了，当节点不可靠时，转移至其他节点来注册这个服务，不过需要验证一下。

[2020-10-09 10:42] paderlol commented on #177
因为这涉及到所有同步服务都建立相关机制，这样保证单个实例的保活机制

[2020-10-09 10:55] paderlol commented on #177
这个问题我争取这两个星期解决掉，到时候发个版本

[2020-10-10 02:39] cdmaji commented on #177
嗯，使用Nacos的naming注册一个伪服务，根据是否有Instance判断是否当前已经有在执行任务也是一种办法。但是个人觉得偏重了一些，因为：1、本业务特性决定只是一个互斥操作，不需要未抢到锁的线/进程阻塞在锁释放后重新开始竞争；2、Nacos目前版本机制需要通过http发送心跳来维持Instance，感觉此机制对于此业务不太适合（或许注册一个持久化节点要适合一点）；3、“锁”粒度问题，对于同步任务，在节点变更频繁下情况下，如果使用同一个“锁”，可能会有后续任务（Nacos订阅变更）长时间竞争不到的可能（如果上一次变更抖动很大），竞争比较激烈，可考虑将“锁”粒度放大，同一次变更（Nacos订阅变更）一把“锁”；
我之前的想法是，既然sync工具都依赖于Mysql，何不使用Mysql实现一把轻量级别的“锁”，实现同一批任务互斥操作即可，而且“锁”粒度足够细下，竞争不激烈，同样可以基于My

[2020-10-10 02:43] paderlol commented on #177
基于mysql的锁这个似乎可行，但我有一个问题就是死锁，当实例挂掉的时候需要考虑其他节点如何感知，定时更新一个时间戳来感知？

[2020-10-10 02:58] cdmaji commented on #177
死锁对于这个业务来说，不致命。如果按照一次变更通知一个锁维度来设计，1次变更只有一个节点抢到锁，其他进程获取不到则结束。如果这个节点跑挂，锁的状态一直为running，可以使用补偿的线程来处理，如果这次锁后面有更近的锁时间戳，则放弃这个running状态的补偿操作（说明已有最新的变更，按照最新的完成最终一致即可），如果没有更近的锁时间戳，说明当前这个任务为最新的变更，那启动一个全量拉取的任务（和初始化一样）即可( 同样这个补偿任务也需要考虑多节点互斥问题，但是作为补偿任务主动发起比起变更被动触发要可控的多)。

[2020-10-10 03:00] cdmaji commented on #177
一个节点挂点，其他节点快速接管这个属于HA范畴，按照二八原则，我觉得可以在这种情况下牺牲一部分实时性来保证大部分时候的可用性。

[2020-10-10 03:20] paderlol commented on #177
你指的补偿是人工发现后干预？我没太明白你说的最新时间戳是指的什么？另外如果这样做，多实例的意义可能更多像一主多备，因为没有HA的情况下，大部分的任务更多跑在一个节点下，这个对很多企业来说也是不可接受的，他们可能没有你这种经常变动上下线的场景，只是考虑的是从原来的过渡到Nacos。他们对这个频繁变动带来得影响是能接受的，还有目前你的建议里面实际也有实时性的问题，全量重复的最终一致性至少没有需要人工干预，而且这个性能的损耗更多在于zk上，其实在eureka这种来说是没那么明显的。我们希望这个迁移工具在复杂度尽量低的情况下去做这些事情，它的核心作用毕竟不是作为双注册中心一直存在，不过mysql的方案我觉得可以讨论下，这个似乎复杂度不高，只需要解决如何比较方便的完成其他节点自动感知就好，比如A实例挂了，B的轮询能启动这些死锁的Job

[2020-10-10 03:33] cdmaji commented on #177
确实如你说的，我之前想的可能更像主备的模式，但是如果做成真正的HA，还需考虑到任务的Balance等确实代价和复杂度高了一点，作为一个工具来说确实不太划算。另外，双注册中心不会一直存在，但是对于一些体量较大的公司来说，平缓迁移和双注册中心存在一定的时间和周期是完全可能的，并且在一些单元化(Zone)的架构体系内，实际上我们也可能希望通过sync来完成GZone的同步。Mysql这个方案，我在想想，确实在复杂度上和成本来说是比较可以接受的。

[2020-10-10 03:53] paderlol commented on #177
好的感谢，我也想想，有想法我们可以碰下，你可以钉钉上加下我

[2020-10-10 05:11] cdmaji commented on #177
好的，你钉钉号多少？我加下

[2020-10-10 05:41] paderlol commented on #177
paderzhang356

[2020-10-29 08:11] paderlol commented on #167
前面三点我觉得说的挺好的,第四点如果只是单纯对项目不满,我建议冷静下再来说,或者提出你觉得应该怎么样,纯粹的抨击没有任何意义,这是开源项目并不是利益项目,搭把手比吐槽更有意义不是吗？

[2020-10-29 13:38] HaojunRen commented on #167
不少Nacos关联项目的Committer也跟你一样，一开始是使用者，后面慢慢变成了贡献者，他们自身有公司自己的工作要做，牺牲很多宝贵的业余时间，甚至是国庆节等这样的法定节假日，无偿贡献

[2020-11-20 02:54] mgsgxmgs23 opened #188 "eureka版本对应问题"
请问nacosSync与eureka、nacos有版本对应吗？
比如nacosSync-0.4.1对应eureka什么版本？

[2020-11-20 08:38] cdmaji opened #189 "zk->nacos时候serviceName应拆分的问题"
zk->nacos同步时，如果是dubbo服务，在dubbo中同一个InterfaceName配置了多个version或者group，在zk上对应是一个/InterfaceName/provider下的多个path，目前对应到nacos中，也是一个serviceName下多个instance；但是按照nacos的serviceName规范，应该对应多个serviceName(如：com.test.hello1:: 和 com.test.hello1:1.0.1: )，此时应该对zk的serviceName做拆分。

[2020-12-01 07:07] spurtAndy opened #190 "编译打包后启动不了"
执行 sh startup.sh start 后显示
[code]
不知道怎么解决

[2020-12-01 08:47] paderlol commented on #190
你是ubuntu系统吗？

[2020-12-01 09:27] spurtAndy commented on #190
@paderlol 我的是centos

[2020-12-01 09:36] paderlol commented on #190
感觉这个脚本有换行符啊

[2020-12-02 08:10] spurtAndy commented on #190
@paderlol  是的 但是这个是源码编译出来，不知道你们启动有没有遇到

[2020-12-18 11:05] wangliguang517 opened #195 "nacos向zk同步失败"
利用nacos-sync，由nacos向zk同步。日志没有异常，但是数据没有同步过去。

[2020-12-18 11:07] wangliguang517 commented on #195
2020-12-18 18:35:31.312 [SkyWalker-Timer-schedule-pool-3] INFO  com.alibaba.nacossync.timer.QuerySyncTaskTimer - 从数据库中查询到一个同步任务，发出一个同步事件:TaskDO(id=27, taskId=43fa25fe6b01af19d42e814250106159, sourceClusterId=4e466a776a7d4461929a208af2b0273a, destClusterId=91267433840afe32447e4f01f702ded9, serviceName=service-provider, version=, groupName=DEFAULT_GROUP, nameSpace=null, taskStatus=SYNC, workerIp=172

[2020-12-18 11:26] paderlol commented on #195
你说的同步失败是指什么？你是同步到dubbo吗？

[2020-12-18 11:40] wangliguang517 commented on #195
我是从nacos往zookeeper上同步，通过nacos-sync同步。
nacos-sync没有异常，但是zookeeper上没有数据

[2020-12-18 11:41] paderlol commented on #195
你怎么配置的服务名，dubbo的服务名是有格式的

[2020-12-18 12:07] wangliguang517 commented on #195
我们公司是自己写的rpc框架，然后通过zookeeper做服务注册和发现。
现在需要将新工程注册的信息(注册到nacos)，同步到zookeeper，供老程序做服务发现

现在从nacos向zookeeper同步就没有成功，没有异常，也没发现zookeeper有同步过去的数据

[2020-12-18 12:41] paderlol commented on #195
Zk只支持dubbo

[2020-12-24 06:51] wangliguang517 commented on #195
多谢，最后更换方案了。

不过也dubug了下源码，确实只适合dubbo的注册格式

[2020-12-31 02:19] zengxiaoliang opened #196 "nacos-sync从ZK同步数据出现 IOException: Packet len10350856 is out of range"
现象：启动sync 后在日志中发现能正常开始同步数据，但执行同步一段时间后出现IOEXception

异常日志如下：
2020-12-31 10:16:08.809 [SkyWalker-Timer-schedule-pool-2-SendThread(xxxxx:2181)] WARN  org.apache.zookeeper.ClientCnxn - Session 0xd011683413ef1cd for server xxxxxx:2181, unexpected error, closing socket connection and attempting reconnect
java.io.IOException: Packet len10350856 is out of range!
        at org.apache.zookeeper.ClientCnxnS

[2020-12-31 02:25] paderlol commented on #196
这是你自己的znode节点超过存储的大小上限了，报错了，与sync没有关系，需要调整zk，具体请自己查找相关文章，我想网上有很多这种文章

[2020-12-31 02:32] zengxiaoliang commented on #196
感谢提醒，刚刚尝试在nacos-sync 启动中增加 "-Djute.maxbuffer=50111000"  后正常了。

[2020-12-31 02:32] #196 closed, assigned to nobody

[2021-01-07 09:22] jerrychern opened #198 "nacos集群A到nacos集群B没找到批量同步"
想请教一下，我们目前用的nacos-sync版本是0.4.1，我们有两个机房，用的都是nacos集群（分别用A、B表示）做为注册中心，现在想把nacos集群A的注册中心信息同步到nacos集群B。
搭建了nacos-sync之后，需要一个服务一个服务到添加，请问批量同步上线了吗？如果上线了，怎么操作？以下是我们的图
![image](https://user-images.githubusercontent.com/41419582/103875169-10032b80-510d-11eb-9f43-bdc9b48c0382.png)
另外：该图的左上方显示的还是 nacos-sync 3.0，但是我们搭建的0.4.1，不知道是不是写错了😄😄。

新增同步中界面是：
![image](https://user-images.githubusercontent.com/41419582/10

[2021-01-07 09:26] paderlol commented on #198
目前没有批量接口，可能暂时只能自己添加。

[2021-01-07 09:37] jerrychern commented on #198
神速啊，多谢啦～

[2021-01-07 09:47] #198 closed, assigned to nobody

[2021-01-12 08:59] huanzui commented on #188
springcloud 版本Edgware.SR4 经测试是不行的，改nacosSync中springcloud 版本编译报错

[2021-01-12 10:17] paderlol commented on #188
好的，我找个时间升级下，然后做个说明

[2021-01-15 03:02] cdmaji opened #199 "zk客户端节点数据过大导致大量异常后OOM"
如果在zk节点数据过大时,zk客户端有一个4M的保护，客户端这块处理比较随意，直接异常抛出：
2021-01-14 10:30:30.025 [SkyWalker-Timer-schedule-pool-2-EventThread] ERROR o.a.curator.framework.imps.CuratorFrameworkImpl - Background operation retry gave up
org.apache.zookeeper.KeeperException$ConnectionLossException: KeeperErrorCode = ConnectionLoss
at org.apache.zookeeper.KeeperException.create(KeeperException.java:99)

在org.apache.zookeeper. C

[2021-01-15 03:23] cdmaji opened #200 "zk->nacos事件通知队列性能问题"
当使用dubbo+zk的时候，zk节点上除开provider节点外，在2.7后版本还会多出metadata，config等节点，在批量上线的时候，由于订阅的是/dubbo根节点，metadata等节点也会触发change事件，curator客户端实现event通知使用LinkedBlockingQueue实现，而同步事件的处理又是同步处理，如果nacos或者其他目标处理比较耗时，Queue中会阻塞大量event，而且Queue中有部分的event是非provider节点事件，内存消耗比较严重；
这里可以做一个小优化，event消费不阻塞，拿到的event首先做一个过滤，过滤掉非provider的event，开启一个线程，单独处理provider的event，尽量保证curator的Queue不阻塞。
优化后压测，1w个instance，内存降低1/10，gc频率降低1/5左右，4w个ins

[2021-01-16 10:31] zhuyh2019 opened #201 "Spring Cloud Alibaba 的 dubbo 服务又挂载到 Spring Cloud 注册中心"
请问只需要改动元数据就可以吗?

[2021-01-18 08:43] shalk commented on #177
这个问题现在修复或者有缓解么 @paderlol

[2021-01-20 01:59] xiaoyao9184 commented on #88
Yes, i need that!

[2021-01-20 08:35] warmonipa commented on #150
同样的问题

[2021-01-28 09:17] fanqj123 opened #202 "nacos到nacos同步不到服务"
1.nacos服务启用了权限校验，目前nacosSync找不到对权限的支持

2.使用分组作为namespace，注册的服务分组默认DEFAULT_GROUP，在同步任务如果填上分组名称，则会获取不到服务

[2021-01-29 07:57] jerrychern opened #203 "3机房nacos集群之间如何使用sync同步？"
@paderlol 您好，想请教3个问题：
1. 我们现在有3个机房，每个机房都是nacos集群，请问如何使用nacos-sync进行nacos注册中心同步？我们之前是两个机房（比如是A机房和B机房），也都是nacos集群，我们只在A机房搭建了nacos-sync，进行两个机房的注册中心双向同步，现在3机房该如何搭建nacos-sync？
2. nacos-sync只能同步注册中心，是不是因为配置中心确实不应该同步，配置中心应该使用每个机房特有的配置，就算两个机房90%的配置都相同，也应该使用自己的配置？
3. 注册中心同步的时候，是不是只用同步provider，不用同步consumer。

[2021-01-29 08:26] J1NX1N commented on #199
你好，请问你有遇到过Yarn写ZK数据大小超过1M，然后RM高可用切换失败的情况吗

[2021-01-29 12:38] paderlol commented on #203
配置确实没有支持进行同步，因为这里存在一个覆盖优先级的问题，建议应该尽量的通过导入的方式进行配置，而且配置你的变动性不大，如果通过同步复杂度其实特别高

[2021-01-29 13:44] jerrychern commented on #203
那第一个和第二个问题呢？也帮忙解答一下呗。

[2021-01-29 13:52] paderlol commented on #203
如果想三中心都互相同步，那就需要配置AB AC  BC BA CA CB     就可以了，但是如果你想高可用就没每个机房放一个sync，使用单独的库，这样重复注册，Nacos本身会过滤掉

[2021-02-01 06:49] sourirer commented on #203
1，三中心同步按目前架构来说，应该只能部署多个nacos-sync来进行，不过你可以考虑根据具体场景，做中心化同步任务试试，中心化sync感知三个集群的数据，并将数据merge之后下发给每一个注册中心，类似这样的方案可以考虑一下。

2，配置中心不同步的原因有你说的那个原因，但是我想配置中心没有同步的主要原因是因为性价比太低，配置是一次操作，修改频率很低的事件，没有必要进行对应的同步，如果的确需要，参考注册中心的实现应该也是可以的；

3，consumer只有服务治理的价值，所以没有同步的必要。

[2021-02-01 07:36] jerrychern commented on #203
多谢啦

[2021-02-01 07:36] jerrychern commented on #203
收到 多谢回答

[2021-02-08 01:58] jerrychern commented on #177
@paderlol 大佬您好。集群部署我们遇到了奇怪的现象：
我们A机房和B机房都是使用nacos作为注册中心，再利用nacos-sync双向同步某个服务（Service1），当nacos-sync只有一个节点的时候，没有任何问题。但是当我们部署三节点的nacos-sync之后，就出现以下两种异常情况：
1. A机房中某个java应用（含3个服务）部署了6个实例，停掉其中一个实例之后，在nacos控制台看到，3个服务有的实例数是6个，有的是5个；
2. B机房还能看到A机房被停掉的那个节点实例信息，如下：
![image](https://user-images.githubusercontent.com/41419582/107167557-1d555380-69f4-11eb-9b72-af9acdce1c65.png)
3. 还有一个问题：跟集群没关系，nacos-sync的页面没有

[2021-02-08 02:40] jerrychern commented on #156
@junjie-tang99 您好，你们三机房（记为A、B、C）部署了各自的nacos集群，使用nacos-sync同步，想请教三个问题：
1. nacos-sync在每个机房都部署了吗？同步方式是AB、AC、BC、BA、CA、CB 吗？
2. nacos-sync部署的是集群吗？如果是，有没有出现A机房服务下线之后，B机房显示服务还在？
3. nacos-sync页面你们做了用户名和密码吗？现在我们是直接打开页面就能配置。

[2021-02-08 03:34] Lynskylate opened #205 "Add support for k8s service to nacos"
Like consul [catalog sync](https://www.consul.io/docs/k8s/service-sync)

[2021-02-09 14:33] jerrychern commented on #150
您好，现在支持nacos的鉴权功能吗

[2021-03-02 03:17] fanyanming2016 commented on #203
想问一下，如果是采用AB AC BC BA CA CB同步，会不会出现同步风暴问题，导致数据不一致？有没有什么解决方案

[2021-03-02 03:20] paderlol commented on #203
不会的，Sync内部持有一个已同步实例的快照，并且每次同步的实例都有打标，防止循环和重复同步

[2021-03-02 04:42] fanyanming2016 commented on #203
相当于每个机房的sync组件都配置AB AC BC BA CA CB同步？如果是每个机房的sync组件只负责同步远端的nacos集群，不同sync组件内部的同步互相看不到的。这种场景会重复同步吗？

[2021-03-07 01:50] jerrychern opened #216 "nacos-sync增加登录功能"
现在sync直接输入ip port 就可以查看同步任务，可以加一个登录功能吗？如果可以，我这边提交PR。

[2021-03-12 08:22] novayoung opened #220 "Can we support ZK synchronization to Nacos based on SpringCloud？"

[2021-03-12 09:13] cdmaji opened #221 "zk断连恢复后无自动重新注册和订阅"
zk作为源或者目标，在断连后超过timeout时间，state变成LOST；如果zk重新连接上，state变成RECONNECTED，由于没有对RECONNECTED事件进行处理，会丢失注册和订阅，导致sync不能正常同步zk数据。

![image](https://user-images.githubusercontent.com/13196820/110918494-31270900-8356-11eb-915d-c367d9b62eb4.png)

[2021-03-12 12:56] paderlol commented on #220
If you have an idea, you can contribute it. Currently this is maintained by the community😄

[2021-03-16 02:34] novayoung commented on #220
cool~

[2021-03-19 08:26] novayoung commented on #220
I want to add a "framework" field in the annotation "@NacosSyncService", used to extend the "SyncService". Is it feasible?

[2021-03-19 08:32] novayoung commented on #220
I'd rather extend "ZookeeperSyncToNacosServiceImpl" than change it

[2021-03-25 01:19] zy-yiyun opened #222 "sync task from eureka to nacos was failed"
The following error is reported when sync task from eureka to nacos was failed ？
![image](https://user-images.githubusercontent.com/81305812/112403600-b0024580-8d49-11eb-94d6-26c91476b395.png)

![image](https://user-images.githubusercontent.com/81305812/112403658-c7d9c980-8d49-11eb-9c5e-b5ee6b9126be.png)

[2021-04-09 03:53] langke93 commented on #76
现在0.4.4版本还没看到，是出了什么意外了吗

[2021-04-09 06:55] paderlol commented on #76
抱歉，因为个人工作原因暂时一直没有精力去搞了。

[2021-04-12 02:41] wuhj opened #223 "Eureka同步到Nacos一直不断消费"
![image](https://user-images.githubusercontent.com/4392849/114333739-98192700-9b7b-11eb-9e7f-6c72ea7fd9bd.png)
这个服务已经注册到nacos上了，可是后台还是在一直不断进入SpecialSyncEventListener进行消费，不断地去注册Nacos服务。

[2021-04-20 03:02] niostack opened #224 "nacos同步nacos任务缓存导致只能注册一次"
使用的最新版本：0.4.4
现象：同步任务启动后只有第一次会同步实例，当源服务节点下线再上线的时候不会再去同步了，看代码是走了sourceInstanceSnapshot这个缓存的逻辑，同一个任务id，同一个节点只会同步一次，是不是少了一个节点下线清缓存的逻辑？

[2021-04-20 03:39] paderlol commented on #224
收到

[2021-04-20 07:30] paderlol commented on #223
因为这个没有事件通知,所以用的轮询全量同步的方式,不然无法保证上线下线

[2021-04-20 08:02] paderlol commented on #224
已修复 可以用下0.4.5

[2021-04-20 08:02] #224 closed, assigned to nobody

[2021-04-21 10:59] MrZhangisGood opened #228 "Nacos cannot sync to Eureka"
hi dear developer,

I have a question.

nacos version2.0 and version1.4 are cannot sync to eureka. No anything error log.

when i use eureka sync to nacos, it can work.

Nacos Sync version is 0.4.5

[2021-04-21 11:02] paderlol commented on #228
Eureka版本不兼容导致的，目前里面没支持太高版本

[2021-04-21 11:16] MrZhangisGood commented on #228
您好，我试了1.x版本和2.x版本的eureka，都是只能eureka可以同步数据给nacos，而nacos同步不了数据到eureka。

[2021-04-21 11:40] paderlol commented on #228
报错了吗？

[2021-04-21 11:55] paderlol commented on #228
你可以看下这个仓库下面的例子https://github.com/paderlol/nacos-sync-example

[2021-04-22 03:45] MrZhangisGood commented on #228
没有报错

[2021-04-22 03:46] MrZhangisGood commented on #228
我看这个链接里面的例子，Eureka 到 Nacos也是单向同步，不支持双向

[2021-04-22 04:31] paderlol commented on #228
里面有例子,只是没有写Readme.我自己尝试了是没问题的
![image](https://user-images.githubusercontent.com/7919984/115655802-9b27ca80-a366-11eb-91d2-ef99820d3a56.png)
![image](https://user-images.githubusercontent.com/7919984/115655825-a3800580-a366-11eb-8b61-9b980bc31296.png)

[2021-04-22 04:31] paderlol commented on #228
不要填写分组和namespace,因为不支持

[2021-04-22 05:35] MrZhangisGood commented on #228
去掉分组和namespace后，可以了，非常感谢。

[2021-05-13 05:36] MrZhangisGood opened #229 "Nacos-sync 对2.0版本的Nacos，无法同步数据"
您好，使用Nacos-sync（0.4.5），对于2.0版本的Nacos，不能从nacos同步数据到nacos。

[2021-05-13 05:42] paderlol commented on #229
可以自己先自己clone下源码，升级下maven的包进行升级client包，打包用下，我等周末才有时间处理

[2021-05-13 05:45] MrZhangisGood commented on #229
ok

[2021-05-16 09:21] paderlol commented on #229
Upgraded #230

[2021-05-16 09:21] #229 closed, assigned to paderlol

[2021-05-16 09:22] #228 closed, assigned to nobody

[2021-05-16 09:22] #223 closed, assigned to nobody

[2021-05-16 09:23] paderlol commented on #222
已经升级了最新版本的Spring Cloud可以重新尝试下新版本

[2021-05-16 09:23] #222 closed, assigned to nobody

[2021-05-16 09:23] #195 closed, assigned to nobody

[2021-05-16 09:24] paderlol commented on #150
不支持鉴权

[2021-05-16 09:25] #112 closed, assigned to nobody

[2021-05-16 09:25] #168 closed, assigned to nobody

[2021-05-16 09:26] #167 closed, assigned to paderlol

[2021-05-16 09:26] #190 closed, assigned to nobody

[2021-05-16 09:27] #149 closed, assigned to nobody

[2021-05-16 09:27] #156 closed, assigned to nobody

[2021-05-16 09:28] #203 closed, assigned to nobody

[2021-05-16 09:29] paderlol commented on #188
#230 Upgraded

[2021-05-16 09:29] #188 closed, assigned to nobody

[2021-05-16 09:30] paderlol commented on #60
目前Nacos支持namespace

[2021-05-16 09:30] #60 closed, assigned to nobody

[2021-05-16 09:30] #158 closed, assigned to nobody

[2021-05-16 09:30] #177 closed, assigned to paderlol

[2021-05-16 09:31] #160 closed, assigned to nobody

[2021-05-19 02:18] Jadaiah opened #232 "更新0.4.6之后，0.4.5的相同配置无法运行同步"
com.alibaba.nacos.api.exception.NacosException: Request nacos server failed:
	at com.alibaba.nacos.client.naming.remote.gprc.NamingGrpcClientProxy.requestToServer(NamingGrpcClientProxy.java:213)
	at com.alibaba.nacos.client.naming.remote.gprc.NamingGrpcClientProxy.subscribe(NamingGrpcClientProxy.java:172)
	at com.alibaba.nacos.client.naming.remote.NamingClientProxyDelegate.subscribe(NamingClientPr

[2021-05-19 02:28] paderlol commented on #232
如果没有使用Nacos2.0，就不要使用这个版本

[2021-05-20 08:49] mushroom11s commented on #232
我使用了Nacos2.0 具体版本 docker hub 上  2.0.0-bugfix ，出现了同样的问题
没有找到nacos-sync得使用文档呀，还要看源码😐

[2021-05-20 08:57] paderlol commented on #232
同样的什么问题?麻烦说清楚 是从哪里同步到Nacos 或者是Nacos同步到哪里,并且把错误贴出来 谢谢

[2021-05-20 09:10] paderlol commented on #232
例子工程 在我自己github下面, 我等下把地址贴到README里面

[2021-05-20 10:06] paderlol opened #235 "Nacos Sync 0.4.6 使用注意事项."
Nacos Sync 0.4.6 目前升级一些第三方依赖,具体如下
1. Nacos 客户端升级到2.0.1
2. Spring Cloud 升级到2020.0.2

目前测试后 有以下变化
* 目前只支持Nacos Server 版本>=2.0 进行同步,因为客户端使用grpc的方式,连接新的端口9848,所以会出现无法同步的问题,具体错误如图:

![image](https://user-images.githubusercontent.com/7919984/118960189-9c640b80-b995-11eb-86e5-c54ec48fcfc8.png)

* 另外如果使用2.0的版本出现上面这个错误,请确认是否开启了9848端口(注意这里9848端口只是举例,因为grpc客户端端口,是根据主端口+1000生成的),或者确认Nacos是否已经启动

* Nacos 2.0 目

[2021-05-20 10:39] mushroom11s commented on #232
eureka->nacos 同样的错误日志，刚刚拉了一个2.0.1的nacos就成功了。会不会是 2.0.0-bugfix 和这个版本之间的问题？

[2021-05-21 08:59] cuizhennan opened #236 "nacos-sync:0.4.6 依赖 nacos-client:2.0.1 找不到NetUtils"
com.alibaba.nacos.client.naming.utils.NetUtils

nacos-sync/nacossync-worker/src/main/java/com/alibaba/nacossync/extension/sharding/AbstractServiceSharding.java:[5,45] 找不到符号

[2021-05-21 09:02] paderlol commented on #236
你是看的源码？

[2021-05-21 09:08] cuizhennan commented on #236
是的

[2021-05-21 09:24] paderlol commented on #236
好的 不小心合错了一个重构分支的代码,我现在切回来.

[2021-05-21 09:29] paderlol commented on #236
现在好了 实在不好意思.

[2021-05-21 09:39] #236 closed, assigned to nobody

[2021-05-24 02:50] Huweicai commented on #205
+1

[2021-06-02 07:54] spurtAndy commented on #63
这个有人解决了吗

[2021-06-02 07:56] spurtAndy commented on #198
@paderlol 这个后续会加吗

[2021-06-02 07:57] paderlol commented on #198
是nacos到nacos吗？还是zk到nacos

[2021-06-02 07:59] spurtAndy commented on #198
@paderlol  我现在是做Eureka到Nacos的平滑过度，两者这间可以批量同步吗？

[2021-06-02 11:31] paderlol commented on #198
没有批量，你可以调用api接口自己建立任务

[2021-06-10 09:54] imsuperli opened #237 "eureka同步到Nacos，命名空间不对"
从eureka同步到nacos，指定了local命名空间，但是同步后服务nacos的public命名空间

[2021-06-10 09:59] paderlol commented on #237
Eureka不支持命名空间

[2021-06-11 03:00] imsuperli commented on #237
注意看，是Eureka同步到指定的nacos命名空间

[2021-06-11 03:03] paderlol commented on #237
是的，我说的就是sync没支持指定eureka同步nacos的指定命名空间

[2021-06-11 08:53] imsuperli commented on #237
功能是有的，界面也有输入框，今天测试了很多场景，bug真多

[2021-06-11 08:56] paderlol commented on #237
界面有是支持nacos到nacos，eureka并没有，另外你有明显的bug可以提，目前来讲我会负责重大问题的维护，但是个人没有精力进行新功能开发更新。

[2021-06-15 13:10] Kallen0 opened #239 "eureka同步到nacos2.0报错"
![image](https://user-images.githubusercontent.com/10429166/122057958-b9b5b980-ce1d-11eb-91de-0c6657c5cca1.png)
获取不到application，推测是eureka版本不兼容导致的，将nacos-sync引用的cloud版本降低到Finchley.SR2/Greenwich.SR1依旧不行

[2021-06-15 13:15] paderlol commented on #239
目前最新版本是可以的，当然eureka server也要最新版本，否则就需要用0.4.6以下的版本去适应了，或者自己通过源码重新打包吧

[2021-06-16 04:32] #239 closed, assigned to nobody

[2021-06-23 07:45] imsuperli opened #241 "nacos-sync当前支持集群部署吗？"
nacos-sync当前支持集群部署吗？

[2021-06-27 05:45] zrlw opened #243 "nacos注册中心重启后，AbstractServerHolderImpl保存的NamingService并没有更新"
AbstractServerHolderImpl里的serviceMap里的NamingService只在get方法获取时创建一次，没有更新机制，当nacos注册中心因故状态变成DOWN或者重启后，继续用这些保存的namingService会有问题。
如果不想大改，可以在AbstractServerHolderImpl增加一个remove(String clusterId, String namespace)方法，让继承AbstractServerHolderImpl的类自己判断get返回的namingService是否有效，无效则调用remove方法删除，再重新get获取。

[2021-06-27 05:49] paderlol commented on #243
因为重启或者down的状态移除掉，然后重新获取，这个连接重新获取就会正常吗？我可能没太理解？

[2021-06-27 06:06] zrlw commented on #243
我们想让nacos sync（多实例，单库）同步多机房nacos注册中心（各自使用独立的数据库，每个注册中心3个节点），但是发现每个机房的注册实例数都不正确，大部分实例都是本机房注册的实例，其他机房同步过来的实例数量参差不齐。
我们在排查分析原因，因为期间有机房的注册中心的节点做维护状态做过DOWN或重启操作，看nacos sync代码发现只创建一次namingService，感觉有问题。

[2021-06-27 06:09] paderlol commented on #243
这个跟创建naming service只创建一次的关联在哪里？你server端都挂了，我这里移除连接单例，然后重新获取的意义是什么？重新获取就可以使用了吗？

[2021-06-27 06:10] zrlw commented on #243
重新获取是指当注册中心恢复后重新获取，恢复之前一直告警即可。不是还有3秒定时任务么？定时任务每次都尝试重新获取啊

[2021-06-27 06:12] zrlw commented on #243
注册中心有多个节点，nacos sync创建的namingServie连接的是一个节点还是全部节点？

[2021-06-27 06:19] zrlw commented on #243
如果server挂了，SkyWalkerCacheServices保存的finishedTaskMap也需要清理，否则QuerySyncTaskTimer也不会重新发出同步事件。

[2021-06-27 06:21] paderlol commented on #243
你如果配置的集群，就是集群所有连接

[2021-06-27 06:22] paderlol commented on #243
Sync利用的就是Nacos自己的客户端，你是eureka同步？

[2021-06-27 06:24] zrlw commented on #243
我们的场景是服务实例频繁上下线，事件通知的先后时序可能出现混乱，但是我们在管理界面手工执行了sync同步任务之后，结果还是和同步操作前一个样子，所以我们想看看有没有可能用的是失效的namingService。
我们都是nacos，各个机房都有一套多节点的nacos注册中心。

[2021-06-27 06:26] paderlol commented on #243
如果全部是Nacos跟那个定时任务没有任何关系，那个地方只是开启而已，主要是依赖Nacos本身的事件机制，你看代码看错地方了吧

[2021-06-27 06:29] zrlw commented on #243
[code]
这个不是3秒执行一次么？

[2021-06-27 06:31] paderlol commented on #243
这里针对Nacos的同步来讲只是开启操作而已，调用一次就不会调用了，你看到了判断代码吗？

[2021-06-27 06:33] zrlw commented on #243
对，我们想改的就是利用这个判断，当server端down掉的时候，把skyWalkerCacheServices的FinishedTask清掉，让判断语句返回null，以便重新发起同步事件。

[2021-06-27 06:35] paderlol commented on #243
只有像Eureka或者Consul这种没事件机制的才会，像你刚才说的那种多sync实例，单库实际上是会跑多个重复的同步任务，还有如果你用的2.0以上版本，是没法多实例同步的，现在Nacos不支持，你们查看问题应该去观察事件接收的地方

[2021-06-27 06:36] zrlw commented on #243
server端down掉的时候，我们想把skyWalkerCacheServices里相关的FinishedTask全部清掉，然后shutdown掉namingService释放资源，等待QuerySyncTaskTimer重试，直至重试成功为止。
我们用的nacos 1.4.2

[2021-06-27 06:37] paderlol commented on #243
本质上挂掉了，事件应该也会一直在运行，为什么还要重试？你是想出现问题直接移除这个任务？

[2021-06-27 06:38] zrlw commented on #243
事件虽然还在运行，但是注册中心恢复正常之后，貌似一直收不到事件通知了。

[2021-06-27 06:39] paderlol commented on #243
不对啊，客户端自己会重连的吧

[2021-06-27 06:45] zrlw commented on #243
如下所示，NacosSyncToNacosServiceImpl的sync方法调用了订阅，但是在注册中心恢复之后这个订阅貌似失效了。
[code]

[2021-06-27 06:46] paderlol commented on #243
这个是服务端的bug吧，重连以后所有订阅失效了

[2021-06-27 06:49] zrlw commented on #243
nacos的文档上没有说是否保留原来的订阅

[2021-06-27 06:51] paderlol commented on #243
因为所有的rpc都是基于订阅来控制注册的啊

[2021-06-27 06:52] paderlol commented on #243
你们可以先基于你们自己的想法直接改了用，也可以自己改了提PR，订阅这个问题，我去确认下

[2021-06-27 06:54] paderlol commented on #243
不是Server保留订阅，而是Server推送事件，订阅是客户端自己保留在内存的，只要连接上有事件就会推送国泰

[2021-06-27 07:42] zrlw commented on #243
我先提了一个修复，可能和这个问题有关，也可能无关。
#244 修复的是当网络连接注册中心有问题时，启动nacos sync时不要将task任务加到SkyWalkerCacheServices的finishedTaskMap里，因为实现SyncService接口的各个同步服务类的sync和delete方法都捕获了异常，只是返回true或false，所以EventListener是捕获不到这些方法的异常的。

[2021-06-27 07:45] paderlol commented on #243
但是这个和你描述的问题似乎没关系，你描述得问题是运行过程中，server crashed之后，然后恢复接收不到事件了，但是Nacos一旦订阅之后逻辑就不会再次运行这个Sync方法了，而是在Nacos的事件里面

[2021-06-27 07:45] paderlol commented on #243
你修复这个仅仅只是让server不可用的时候无法开启任务而已

[2021-06-27 07:52] zrlw commented on #243
嗯，我们也不确定问题的根源，当时启动nacos sync的时候，没有确认nacos sync到所有机房nacos注册中心的网络是否已经全部打通，如果没打通就启动了nacos sync，我们认为是会触发这个现象的。
nacos注册中心运行过程中我们对有些节点做了下线又重新上线处理，这个操作会不会触发这个问题，我们还需要找个可以测试的环境做验证。

[2021-06-27 07:54] paderlol commented on #243
那先验证吧

[2021-06-28 07:05] zrlw commented on #243
我们基本上定位到问题原因了，应该是Sync 0.4.4同步了不该同步的实例所致。
过程如下：
１.　Ａ机房停止了服务实例Ｓ，A机房注册中心删除了服务实例S；
２.　sync同步了B机房的S服务实例到Ａ机房，A机房有带sourceClusterId标签的S服务实例；
３.　服务实例S马上重新启动了；
 4.    A机房注册中心收到S注册请求，但因为有了B机房同步过来的S，所以保留了同步过来的S；
 5.   B机房注册中心重启；
 6.   sync同步A机房到B，过滤掉了带有sourceClusterId标签的S服务实例。
诡异的地方是步骤2，看sync 0.4.4的SyncService接口的needSync是有判断sourceClusterId标签为空，但是我们现在在A机房看到了带有sourceClusterId标签=B机房的S服务实例，ip地址是A机房的，更诡异的是A、B两个机房存

[2021-06-28 07:49] imsuperli opened #245 "Eureka同步到nacos，instance覆盖问题"
使用场景为eureka同步到nacos，有三个instance，但是同步到nacos后，仅有一个instance，测试发现，后同步的instance会覆盖之前的instance，将nacos-sync中nacos-client由2.0.1改为1.1.4，可以解决此问题，貌似跟同一个长连接只能注册一个instance有关

[2021-06-29 01:57] zrlw commented on #243
我们的实例都是在nacos 1.4.2注册中心的public命名空间的DEFAULT_GROUP分组上注册的。我们的各个同步任务的分组字段都配成了public，并不是DEFALUT_GROUP，各个同步任务的命名空间都没有配置。
神奇的事情在于：
0.4.4版本的sync创建nacosNamingService用的是```nacosServerHolder.get(taskDO.getSourceClusterId(), taskDO.getGroupName());```, 而nacosServerHolder的get方法第二个入参是用来传命名空间的，所以我们配错的分组名称public刚好传对了。
0.4.4版本NacosSyncToNacosServiceImpl.java 获取服务实例列表时调用getAllInstances方法时只传了同步任务的服务名，没有传入分组：
[code]

[2021-06-29 02:12] paderlol commented on #243
0.4.5 是支持分组的 具体可以看PR https://github.com/nacos-group/nacos-sync/pull/218/files 如果你看过源码就应该知道这里是接收了group的 所以我不知道你是怎么对比代码差异的

[2021-06-29 02:15] paderlol commented on #245
对，现在2.0的设计导致一个实例持有一个连接，所以没法多实例共享，后面有计划解决这个问题

[2021-06-29 02:28] rsedgewick commented on #245
请教下nacos-client回退到哪个最高版本能解决此问题？是否会因为降低client版本引起其他问题？

[2021-06-29 02:42] zrlw commented on #243
加了个NacosSyncToNacosServiceImpl的sync方法修复，在获取实例时传入了同步任务的分组名，以支持非DEFALUT_GROUP分组的同步任务。

[2021-06-29 02:46] zrlw commented on #243
[code]
我觉得可能你搞混了入参，createServer传入参数一直要求的是命名空间，并不是分组名。
0.4.4的sync方法写错成了```nacosServerHolder.get(taskDO.getSourceClusterId(), taskDO.getGroupName())```，0.4.5修复了而已。

[2021-06-29 02:53] paderlol commented on #243
组入参不是写错了，是以前sync认为组的纬度就是namespace，当时没有支持实例组这个纬度，你可以翻以前的issue就知道，然后你刚刚提交的确实是我的问题，再处理冲突的时候，粗心把其他贡献者的代码给覆盖了，本身这个PR是对的。

[2021-06-29 03:15] paderlol commented on #245
1.4.2吧

[2021-06-29 03:40] zrlw commented on #243
顺便提个建议，因为nacos 2.0+不支持单客户端同步多实例，所以最新的0.4.6可用性并不大，建议从0.4.5拉出一个分支，以便同步进行缺陷修订。

[2021-06-29 03:42] paderlol commented on #243
可以用

[2021-06-29 03:42] paderlol commented on #243
你不用2.0的客户端就行了

[2021-06-29 03:49] paderlol commented on #243
Pr需要通过develop分支提交develop，不要直接从master修改，提交master

[2021-06-29 04:13] paderlol commented on #243
我下午去更新一下develop分支，改回1.4.2的客户端，然后你再提供你的pr进来吧

[2021-06-29 04:33] zrlw commented on #243
重新提了基于develop分支的pull请求： #246
其中sync方法做了修订，只同步healthy状态为true的实例，我怀疑可能是实例healthy状态变成false时，nacos注册中心修改了元数据，删掉了nacos sync添加的sourceClusterId，导致sync同步出现了循环。

[2021-06-29 06:18] zrlw commented on #243
我看了一下nacos的InstanceController类，里面有3个地方会重置元数据，涉及register，update， beat和patch四个场景，很难保证nacos不会覆盖sync的标签。
nacos注册中心以客户端ip和端口为唯一，我觉得可以考虑大改一下，不用metadata，改用```ConcurrentHashMap<SourceClusterID, List<Instance-IP-PORT>>```，免得元数据被nacos中心干掉，只是各个同步任务需要增加一个IP列表字段了。
如果能和nacos社区沟通好，确保对方重置元数据之前保留sourceClusterId也可以。
还有一个方法就是sync自己保存一份快照，如果发现nacos注册中心删除了元数据，就重新打标搞回去。

[2021-06-29 06:30] paderlol commented on #243
那就没法防止ABC的问题了，A同步到B B把A的服务也同步到C

[2021-06-29 06:30] paderlol commented on #243
Nacos清除元数据的场景都是在实例或者服务失效，需要移除的时候

[2021-06-29 06:33] zrlw commented on #243
那就sync保留一份快照吧，在needSync判定方法里查一下自己保存的快照

[2021-06-29 06:35] paderlol commented on #243
你可以fork改动下，然后测试觉得可以，提个pr上来，然后看一下

[2021-06-29 06:37] paderlol commented on #243
但是我个人觉得你这么做会把事情搞的更加复杂，因为Nacos同步不是单向的，他更多是双向的，你得能区分哪些是自己的实例，哪些是同步过来的

[2021-06-29 08:05] paderlol commented on #243
我已经发了一个beta版本,合并你的问题,并且退回到了1.4.2的客户端. 有问题请新开issue

[2021-06-29 08:05] #243 closed, assigned to nobody

[2021-06-29 08:05] paderlol commented on #245
https://github.com/nacos-group/nacos-sync/releases/tag/0.4.7-Beta

[2021-06-29 08:05] #245 closed, assigned to nobody

[2021-06-29 08:06] paderlol commented on #241
Nacos 支持多Sync 实例 单库部署

[2021-06-29 08:19] zrlw opened #249 "NacosSyncToNacosServiceImpl执行delete和sync方法时没有判断目标集群是否为最初的源集群"
nacos注册中心很多场景下会覆盖实例的元数据，可能导致nacos sync打的sourceClusterId等标签丢失，为避免循环注册、误删源集群注册实例，有必要对NacosSyncToNacosServiceImpl的delete和sync方法在needSync为真之后做一下加强处理：
1. 执行sync处理时，查询源集群快照，如果没有就将instance的ip和port以及task配置的sourceClusterId保存到源集群快照；否则判断需要同步的instance在快照里登记的源集群是否和同步任务的目标集群相同，相同则忽略本次sync任务；
2. 执行delete处理时，查询源集群快照，如果需要同步的instance在快照里登记的源集群和删除同步任务的目标集群相同，则忽略本次delete任务。
 修订代码详见： #248

[2021-06-29 08:34] zrlw commented on #249
采用多实例单库部署nacos sync时，各个sync实例启动的时间不能间隔太长，间隔越长，后面启动的sync拿到被nacos注册中心剔除sourceClusterId的元数据的可能性越大。
只有在同步任务里配置实例来源IP列表，才能彻底解决元数据丢失的情况，只是那样改动就很大了。

[2021-06-29 08:44] paderlol commented on #249
不行 这种比之前出问题的几率更大一些,而且不能再使用多实例了, 使用多实例循环数据的几率会特别大,因为你不知道哪些数据是从外面同步过来的,你第一次同步的时候说不定已经有别的实例同步进来了

[2021-06-29 08:45] paderlol commented on #249
还有你这个问题 其实本质应该是发生在你几个注册中心都接收了相同实例的注册,如果避免掉相同实例的注册 那么就应该不会出现这个元数据清除的问题了吧

[2021-06-29 09:10] zrlw commented on #249
我们各个机房的dubbo服务只注册到本机房的nacos注册中心，不会向其他机房的注册中心进行注册，机房之间采用sync进行实例同步。
查询集群快照是仅当needSync返回true时才做的加强，也就是说只有sourceClusterId标签为空时才做快照，所以正常情况下多个sync实例出现循环数据的概率不会增大。
解决问题的根源在于查清nacos注册中心在什么场景下清理元数据，如果只是将健康状态改为false才清理，那么之前的修订应该就可以了，否则无论怎么加强，都有被击穿的可能。

[2021-06-29 09:19] paderlol commented on #249
懂你的意思, 就是在现有基础上本地在进行一次校验,但是这个Map不受管控有点风险.

[2021-06-29 18:43] zrlw opened #250 "大规模重启服务实例时，nacos sync同步事件数量暴增，导致nacos注册中心崩溃"
大规模重启服务实例时，会多次触发同一个同步任务事件，形成的同步任务风暴直接将nacos注册中心击溃。

[2021-06-29 19:04] #250 closed, assigned to nobody

[2021-06-29 19:44] zrlw opened #252 "大规模重启服务实例时，突然激增的sync同步实例任务会导致nacos注册中心崩溃"
需要控制sync同步任务的发起节奏，对短时间内重复的同步任务进行合并处理。

[2021-06-30 07:50] zrlw opened #254 "因网络故障、目标集群注册中心繁忙等原因nacos sync同步任务会失败，导致目标集群注册中心缺少同步实例"
从nacos sync的日志看，导致同步任务失败的多数原因是建立到目标集群注册中心端口的网络连接出现超时、被对方拒绝、读结果超时，为防止目标集群长时间缺少实例，需要设计一个基本的兜底同步机制，定时将全部同步任务执行一遍。

[2021-06-30 08:04] #252 closed, assigned to nobody

[2021-06-30 08:08] zrlw commented on #252
nacos sync定位是实时同步小量变动，因此大规模启停实例时，应当先停止nacos sync服务。
另外采用接口实例级别注册本身也有局限，不适合大规模应用场景，应该尽早过渡到服务注册级别。

[2021-06-30 08:45] paderlol commented on #254
merged

[2021-06-30 08:45] #254 closed, assigned to nobody

[2021-06-30 08:46] #249 closed, assigned to nobody

[2021-07-01 08:13] qq843700497 commented on #237
eureka同步到nacos，指定同步到特定命名空间不可用。 group同样也不可用。

[2021-07-01 08:26] paderlol commented on #237
Eureka不支持空间和组，只有nacos暂时支持，不过你有兴趣可以提一个pr？因为Nacos同步Nacos已经实现了，不是很麻烦

[2021-07-01 10:55] imsuperli commented on #241
能简单讲一下实现原理吗？岂不是同一个任务会有多个节点同时执行吗？数据库表中的worker_ip字段有什么作用？

[2021-07-06 09:17] imsuperli opened #256 "Eureka同步到Nacos，通过Eureka Api下线服务，Nacos上，服务还是在线"
通过Eureka的restApi下线服务，将状态置为OUT_OF_SERVICE或者DOWN状态，Naocs上服务未下线

[2021-07-12 12:34] SauryStand commented on #256
@lchpersonal 可手动将对应OUT_OF_SERVICE的instance下线

[2021-07-14 07:27] xiaomozhang opened #257 "nacos实例同步到eurekaServer,当nacos实例重启之后,nacos到eureka同步的任务不会在继续工作,该如何解决？"

[2021-07-14 08:47] #257 closed, assigned to nobody

[2021-07-23 04:53] sunlognchao opened #258 "nacos双数据中心之间的数据同步咨询"
Nacos多集群部署之间的数据同步，只能用nacosSync进行数据同步么，不能和eureka高可用部署似的相互注册？

[2021-07-24 01:46] xiaomiusa87 opened #259 "解析zk url参数总是会丢失问号后面的第一个参数"
nacos-sync版本：0.4.5 （0.4.6也有相同问题）
问题：zk url解析工具类逻辑有误，总是丢失 问号后的第一个参数
代码位置：com.alibaba.nacossync.util.StringUtils#parseQueryString

[code]

应该截取问号后的参数，再根据&分割
在 return parseKeyValuePair(decodePath, "\\&"); 前加：
decodePath = org.apache.commons.lang3.StringUtils.substringAfter(decodePath, "?");

[2021-07-24 03:11] paderlol commented on #259
Fixed

[2021-07-25 08:05] nimeijian commented on #76
请问下，现在0.4.6版本有这个功能吗？

[2021-07-25 10:37] nimeijian opened #261 "使用体验"
1.不能全量添加服务，需要一个服务一个服务添加；
2.针对每个服务都会去双方各走一次网络IO请求该服务信息，然后以源端为准决定目的端该服务是否要unregister再register；
3.若同一个服务有多个实例，则只有一个实例可同步过去(最后一个会覆盖掉前面同步的)；
4.每个服务每3秒同步一次，还不可配置。
个人认为在服务很多的情况下该工具还不够成熟。目前我是在源端和目标端注册/下线时分别往对方实时同步并定期对账补差异。

[2021-07-25 10:41] paderlol commented on #261
2/3点是Nacos本身的特性决定，2.0以后只支持一个客户端一个实例。
第一点 全量dubbo Zk是支持的，后续的你们如果有想法可以贡献，我当时也是贡献者

[2021-07-27 09:24] xyohn opened #262 "Eureka<->Nacos服务同步问题"
目前的需求是 希望能从eureka同步服务到nacos指定的namespace 也能从nacos指定的namespace同步服务到eureka（用于服务之间的迁移）
目前页面上，nacos-sync服务同步上，是支持在新建同步任务时填入命名空间id的 但是测试发现不生效
![image](https://user-images.githubusercontent.com/26292685/127129536-9d41acca-a68d-4595-93be-2c515fdce278.png)

如果不填命名空间id （相当于同步到public） 是没问题的
clone了源码看了一下 代码层面可能有问题
1. NacosSyncToEurekaServiceImpl中 获取Nacos的NamingService和Eureka的NamingService时 第二个参数传入的是taskDO.get

[2021-08-02 09:42] zrlw commented on #252
我们定制了一个版本：```https://github.com/zrlw/nacos-sync/tree/patch-mergeEvent```
合并了30秒内同一服务接口不同实例的事件通知，大大减少了事件处理的数量：我们每个接口平均有100多个实例，大规模重启时，合并后的事件通知数量会减少两个数量级。
我们还在定制的版本做了5分钟空闲兜底处理，如果5分钟没有事件，就做一次全量同步。
这些修订是我们和国内某H大厂交流之后做的，他们全球各注册中心之间的同步也对事件进行了合并，否则扛不住大规模变更。

[2021-08-02 09:44] paderlol commented on #252
这个以前就有人做过了,但是需要改Nacos Server

[2021-08-03 05:33] zrlw commented on #252
应该和nacos server无关。
我们每个taskID平均有100个instance，如果不合并事件，同时启动这100个instance时会产生100个事件，因为此时sourceInstanceSnapshot快照里都还没有东西，所以每个事件的sync方法会向nacos server发出100个registerInstance请求（因为source注册中心已经注册好了100个实例）），这样发给nacos server的请求数量会从100个变成1万个。

[2021-08-03 05:35] paderlol commented on #252
我说你合并心跳发送，那等于是要改client发送心跳和Nacos接收心跳不是吗？

[2021-08-03 05:38] paderlol commented on #252
还有你合并事件就是你可以容忍数据不实时，并且你的目的看起来更多不是在迁移，而是双注册中心

[2021-08-03 05:47] zrlw commented on #252
1. 不是合并心跳，是合并注册请求，抓包发现大规模重启时，sync发起注册请求的数量比心跳数量高两个数量级。
2. 是用来作多注册中心，本中心应用优先访问本注册中心，异地中心不要求实时，最终一致即可。

[2021-08-03 05:52] paderlol commented on #252
是因为互相收事件导致的，你这个解决方案在不要求一致性的情况下可以，靠rpc本身的负载来规避有些服务不可用的情况

[2021-08-03 05:58] zrlw commented on #252
建议nacos sync搞个多注册中心的分支。
我们本来想直接去买多注册中心产品，但是大厂的注册中心和自己的产品捆绑得太紧，拿不出来单独销售，他们推荐我们试试nacos server + nacos sync，所以多注册中心这方面应该是有需求的，这样的需求和迁移存在很大差异，在一个分支下面搞可能相互影响。

[2021-08-03 09:23] zrlw commented on #252
另外nacos的BeatReactor没有考虑同一个客户端同时注册同一实例，这么搞同一实例会搞出来多个心跳任务。
我们给nacos社区提交了一个fix：
https://github.com/alibaba/nacos/pull/6537

[2021-08-04 07:01] paderlol commented on #252
同一客户端同时注册同一个实例,在什么场景下会出现？

[2021-08-04 09:21] zrlw commented on #252
nacos sync收到nacos注册中心服务通知时，会从注册中心取出服务的全部实例，如果没有同步过（ConcurrentHashMap保存同步过的服务实例）就会发起注册。
假如同一类服务多个实例同时启动，比如有500个实例，注册中心几乎在同一时刻送给sync500个服务通知，sync没有对这些事件进行合并处理，此时ConcurrentHashMap还是空的，好比500个程序同时执行if (i==0) i++的操作，期望结果是1，但是实际结果比1大得多。

[2021-08-04 09:27] paderlol commented on #252
所以会造成有两个心跳启动是吧,OK 这个等于是Sync接收事件会导致的特殊场景造成了会出现这个问题对吗？

[2021-08-04 11:05] zrlw commented on #252
是的，一键启动应用的时候，如果实例数量庞大，就会遭遇这个问题，我提了个PR #267 ，应该能够减轻一些注册中心的负担。

[2021-08-09 09:29] warmonipa commented on #150
大佬，@paderlol 有计划什么时候支持吗？

[2021-08-09 09:32] paderlol commented on #150
新版本应该已经支持Nacos集群添加认证了

[2021-08-10 07:34] yclovesun commented on #150
哪个版本支持加了认证也可以同步？ nacosSync版本和对应的nacos-server版本分别是什么?

[2021-08-10 07:38] paderlol commented on #150
https://github.com/nacos-group/nacos-sync/pull/242

[2021-08-12 03:39] zrlw opened #269 "0.4.7-PRE版本同步nacos 2.x注册中心时支持多实例么？"
0.4.6版本不支持同步多实例的问题在0.4.7-PRE版本得到解决了?  请问测试使用的是nacos server 2.x的哪个版本？

[2021-08-12 06:35] zrlw commented on #261
可以写个sql脚本直接插入数据库，里面的表结构打开就明白了

[2021-08-12 06:46] zrlw commented on #202
用新版sync试一下，之前版本的分组名称可能是当做命名空间了

[2021-08-12 09:57] paderlol commented on #269
可以，我把客户端退回到1.4.2了，所以Nacos2.0可以支持了，但是如果用Nacos 2.0客户端就不行了

[2021-08-12 09:58] paderlol commented on #269
2.0客户端需要等Nacos那边支持

[2021-08-13 06:18] zrlw commented on #269
ok

[2021-08-13 06:18] #269 closed, assigned to nobody

[2021-08-18 12:02] zyhui98 opened #270 "cluster建表语句不完整"
hi，公司数据库规范需要提前建表，cluster的建表语句缺少user_name、password

[2021-08-18 13:23] paderlol commented on #270
可以暂时本地自动建表后导出来

[2021-08-19 01:28] zyhui98 commented on #270
自己手动建表了

[2021-08-19 01:28] #270 closed, assigned to nobody

[2021-08-31 03:12] zhangle910522 opened #272 "nacos-sync 是否支持同一个集群的nacos不同namespace 进行服务信息的同步"
如题，请问目前是否支持，不支持的话 后续是否会考虑改需求。谢谢

[2021-08-31 05:48] paderlol commented on #272
自己建两个不同namespace的集群就行了

[2021-08-31 09:04] zhangle910522 commented on #272
但是集群配置里面，新建集群 无法指定namespace，我这里说的是 同一个集群 多个 namespace 能否支持同步

[2021-08-31 09:06] paderlol commented on #272
新版本里面有，我说了建两次同一个地址不同namespace的集群

[2021-08-31 09:31] zhangle910522 commented on #272
![image](https://user-images.githubusercontent.com/28779854/131478852-419a46c6-1e8a-437f-aa9a-9c085c6bbae1.png)
这里并没有指定namespace的输入框，版本 0.4.6

[2021-08-31 10:07] paderlol commented on #272
知道了,我周末找时间加下吧

[2021-08-31 12:09] paderlol commented on #272
已经增加了,不过没太理解什么场景下你需要同一个集群内部进行不同namespace同步,按理来说注册到同一个空间就好了

[2021-08-31 12:10] paderlol commented on #262
可以拉取最新0.4.7-PRE进行使用了

[2021-08-31 12:10] #262 closed, assigned to nobody

[2021-08-31 12:10] paderlol commented on #272
可以拉取最新0.4.7-PRE进行使用了

[2021-09-03 03:00] zhangle910522 commented on #272
可以了，但是我发现 暂停同步任务后，点击重新同步 无效了，而且我删除任务 新建任务也不行。后台日志无报错
服务反复关闭 重新注册 也无法同步了

[2021-09-03 05:44] paderlol commented on #272
Fixed

[2021-09-03 05:45] paderlol commented on #272
这个issue 关闭了,如果有其他问题麻烦提新的issue,然后有问题可以自己先定位一下.

[2021-09-03 05:45] #272 closed, assigned to nobody

[2021-10-25 08:11] zhangle910522 opened #277 "0.4.7版本前端页面去除了nacos的用户名和密码输入框"
为啥0.4.7版本去除了 nacos的用户名、密码输入框？

[2021-10-27 00:55] paderlol commented on #277
最新的版本应该加上了 请重新下载一下包

[2021-11-01 01:29] #277 closed, assigned to nobody

[2021-11-02 02:44] Davion2017 opened #278 "nacos-nacos在暂停同步后再重新同步，目标集群无法再次获取同步信息"
nacos-server版本 2.0.3
nacos-sync版本 0.4.6
现象如标题描述
同步任务为从一个nacos集群同步到另一个nacos集群，在开启同步后，两个集群的信息能互通，nacos-sync界面暂停同步后再点击重新同步，源集群的服务信息就无法同步到目标集群了

[2021-11-02 03:14] paderlol commented on #278
#274 已经修复了，使用0.4.7-pre版本

[2021-11-02 03:21] Davion2017 commented on #278
好的，谢谢

[2021-11-02 03:21] #278 closed, assigned to nobody

[2021-11-02 07:21] zhangle910522 opened #279 "我又来提新需求啦 哈哈"
nacos-sync 能否考虑在同步服务列表时，增加参数指定同步后集群的服务名称。
即在Nacos A 下面有一个服务 ServiceX，需要同步到Nacos B集群，然后在该集群里面对应的服务名称变为 ServiceY（现在只能是ServiceX）

[2021-11-17 01:34] iwfun opened #280 "releases 版 编译不过"
https://github.com/nacos-group/nacos-sync/releases/tag/0.4.6

[2021-11-21 14:01] #216 closed, assigned to wyp12

[2021-11-21 14:02] jerrychern commented on #216
0.4.7版本已经实现

[2021-11-22 11:21] chenhao26-nineteen opened #282 "Zookeeper+Spring Cloud 项目注册中心迁移到Nacos+Spring Cloud目前支持吗？我看demo里面只有zk+dubbo的集成迁移案例。"
Zookeeper+Spring Cloud 项目注册中心迁移到Nacos+Spring Cloud目前支持吗？我看demo里面只有zk+dubbo的集成迁移案例。

[2021-12-08 02:36] chenhao26-nineteen opened #283 "zk同步到nacos，支持同步到指定的nacos命名空间下吗？"

[2021-12-08 02:37] chenhao26-nineteen commented on #283
zk同步到nacos，支持同步到指定的nacos命名空间下吗

[2022-01-21 04:41] sodared opened #285 "Oops, seems an error in README.md"
![image](https://user-images.githubusercontent.com/71421254/150467005-7d868db7-6254-4b62-9e33-c2a157aeecc7.png)

[2022-01-21 08:25] zkzong opened #286 "consul同步到nacos"
使用nacossync版本为0.4.7，需要把consul注册信息同步到nacos，配好后没有任何报错信息，但是注册信息没有同步，请问是什么问题？

[2022-01-25 12:35] penghuazhou opened #287 "nacos当作配置中心使用不同中心数据同步"
nacos-sync不支持配置中心各数据中心数据的同步吗？我不是把nacos当作服务发现产品来用的，当作配置中心来用，没有服务名和分组的概念。
![image](https://user-images.githubusercontent.com/13001038/150977783-5edad6f1-e7a2-43b5-9408-682967e9f083.png)

[2022-02-07 08:54] jerrychern commented on #287
nacos-sync不支持配置中心同步，目前只支持注册中心。

[2022-02-08 04:00] penghuazhou commented on #287
谢谢

[2022-02-08 04:00] #287 closed, assigned to nobody

[2022-03-23 12:39] CherishCai opened #288 "新增同步任务目前仅能一个个地添加，是否能从源集群识别出任务列表批量创建"
新增同步任务目前仅能一个个地添加。不存在功能上的问题，唯一的毛病是加起来比较繁琐啦。
![image](https://user-images.githubusercontent.com/16837364/159700975-f550af50-2885-4496-91df-55c99b1f0a6a.png)

[2022-03-23 12:53] CherishCai commented on #288
Same as #63

[2022-05-06 01:12] gunbusterZz opened #291 "nacos2.1使用sync同步时获取源实例为空"
nacos2.1使用sync同步时获取源实例为空：
 List<Instance> sourceInstances = sourceNamingService.getAllInstances(taskDO.getServiceName(),
                getGroupNameOrDefault(taskDO.getGroupName()), new ArrayList<>(), true);
这个list，debug结果为空，没拉取到nacos上的实例

[2022-06-01 05:48] jefferson-chern commented on #279
感觉这个需求有点奇怪啊，因为之所以需要同步，就是注册中心集群B的comsumer需要调用注册中心集群A的provider，名字如果改了，那怎么调用呢？

[2022-06-06 03:08] CherishCai commented on #288
https://github.com/nacos-group/nacos-sync/pull/289

支持从 sourceCluster 获取所有 service，然后生成同步到 destCluster 的任务。
目前仅支持 Nacos 为源的同步类型，待完善更多类型支持。

// TODO 也还缺少页面的支持，这里留下一个其他同学需要使用的方案。

[2022-06-06 03:08] #288 closed, assigned to nobody

[2022-06-14 06:51] jefferson-chern opened #295 "双向同步nacos实例时，当某个注册中心的所有实例下线后再启动，不能重新同步"
1. 有两个nacos集群，分别用A和B表示；
2. 使用同一个（或不同的）nacos-sync集群，同步AB中都有某个服务，比如服务名是test；
3. 在sync控制台上创建一个 test的从A到B的同步任务，再创建一个test的从B到B的同步任务；
4. 此时AB两个集群上test服务的实例数都是2，其中1个是本集群的，一个是由nacos-sync同步过来的；
5. 停掉注册到A集群上的应用服务，此时A集群上test服务的实例是1，由nacos-sync同步的；B集群上也是1个实例，是本集群的；
6. 再启动刚停掉的应用，此时A集群上test服务的实例数是2，1个是本集群的，一个是由nacos-sync同步过来的；但是B集群上一直只有一个实例，nacos-sync没有同步过来。

[2022-06-14 13:24] #295 closed, assigned to nobody

[2022-06-21 06:31] ijustyce opened #297 "EventListener 同步服务时，应该放在线程池中进行，目前的方案同步较多服务时，服务会在健康与不健康间跳变"
EventListener.java
[code]
这里应该丢到线程池中进行，我同步 2000 多个服务时，老是出现服务不健康，进而被删除的情况，永远无法同步完成，之后将这里改为了在线程池中进行，同步完成的很好，修复后的代码：

EventListener.java
[code]
SkyWalkerConfiguration.java
[code]

[2022-06-23 01:40] jefferson-chern commented on #297
这里确实都是同步的操作，2000个服务，是nacos到nacos的吗？那总的有多少实例？2000服务下来总的是不是超时了？超过15秒还是30秒？

[2022-06-24 08:04] ijustyce commented on #297
nacos 到 nacos，实例，你指的是 ip？大概 2200 左右个 service，ip 有 6700 左右。这里我改为线程池后，表现稳定。

[2022-06-24 08:08] ijustyce commented on #297
超过多少秒，这个倒没计算，或者说没关注，我是自己写了一个工具类，这个工具类可以在两个 nacos 集群间智能同步，从集群 A 迁移到 集群 B 的场景，本来借助 dubbo 的多集群容灾已经迁移了大半，但是还是有 2000 多有服务因为基础框架原因，无法使用 dubbo 的多集群容灾能力，需要用这个工具来智能同步。（起初注册在 A 集群，自动同步到 B集群，如果服务升级后，注册到了 B集群，但是 consumer 在 A集群，则自动同步到 A 集群）做这个同步时，发现这个问题。

[2022-06-24 09:16] jefferson-chern commented on #258
eureka高可用部署指的是什么？是一个eureka集群，有多个节点组成的吗？那nacos也可以用3个节点组成集群啊

[2022-06-24 13:43] diamondiamon commented on #241
看了一轮，也是不清楚这个worker_ip有什么用，猜想是希望在集群下，只有一台在运行的服务器，用这个worker_ip来标记着哪台服务器正在执行工作。

[2022-08-01 07:01] chenhao26-nineteen commented on #291
Please check whether the sourcenamingservice object is the namingservice of the source cluster and whether the obtained parameters are correct

[2022-08-04 03:08] tiancaipei opened #305 "zk同步到nacos，指定单个服务名，但是会把所有zk的服务同步到nacos"
zk同步到nacos，我指定一个服务
![image](https://user-images.githubusercontent.com/41528403/182753848-b53961b8-bc39-4764-9b7a-5ecba11128f7.png)
但是将zk上所有的服务都同步了
![image](https://user-images.githubusercontent.com/41528403/182753797-6fb314e7-cffc-4d16-be19-f55dd560b977.png)
我觉的大致的原因是在zk注册监听的时候没有判断服务名称
![image](https://user-images.githubusercontent.com/41528403/182754311-c0c731fd-606d-4203-aab9-ad053c0a615b.png)
我

[2022-08-08 06:25] tiancaipei opened #306 "两个疑问"
1.nacos同步到zk，暂停后重新同步，服务就同步不到zk了
2.zk同步到nacos，暂停同步后，nacos上还是能看到同步的服务

[2022-08-22 08:10] chenhao26-nineteen commented on #306
理论上暂停同步Naocos注册的服务会被干掉，你的nacos版本是多少？

[2022-08-23 10:37] XQfelix opened #307 "nacos2.1.0 到 nacos2.1.0 无法同步"
nacos-sync 使用版本为 0.4.8

在 nacos-sync 填写好信息之后, 发现服务列表无法同步.

问题1: 0.4.8版本是支持 nacos2.1.0版本的么?
问题2: 如果问题是回答是"OK"的话, 那有没有一个配置的示例或者说错误排查的方法呢

[2022-08-29 01:22] tiancaipei commented on #306
你好，我nacos用的版本是2.1.0

[2022-09-14 03:15] dnrlxd opened #308 "eureka将服务同步到nacos时候，nacos-sync服务报java.lang.IllegalArgumentException: Malformed serviceUrl: 192.168.111.208:8761错误"
nacos-sync版本是最新版本的nacos-sync-0.4.8，nacos-server使用的是nacos-server-1.4.1，eureka使用的是Hoxton.SR1版本。
eureka下有个服务amc-datalink-server，现在想将这个服务同步到nacos上，也是按照nacos官网的操作去操作的，具体网址为：
https://nacos.io/zh-cn/docs/nacos-sync-use.html。具体的操作和服务列表附件图片都有说明。主要报的错是
java.lang.IllegalArgumentException: Malformed serviceUrl: 192.168.111.208:8761
	at com.netflix.discovery.shared.resolver.DefaultEndpoint.<init>(DefaultEndpoi

[2022-09-16 06:11] yejunhao commented on #286
同样的问题，请问解决了吗

[2022-10-19 08:38] wps0721 opened #311 "nacos到nacos无法同步"
源：nacos 2.0.2 单点
目标： nacos 2.0.2 集群
工具版本：Nacos-Sync 3.0

网络畅通：已telnet测试
集群配置
xf-new | NACOS | ["10.XXX:8848","10XXX:8848","10XXX:8848"]  (集群只填写一个ip，也无法同步)
xf-old   | NACOS | ["172.XXX:8848"]

服务同步

* | DEFAULT_GROUP | xf-old | xf-new

同步日志：（只有任务开始日志，没有其它日志）
2022-10-19 16:17:06.790 INFO  com.alibaba.nacossync.timer.QuerySyncTaskTimer Line:86  - 从数据库中查询到一个同步任务，发出一个同步事件:TaskDO(id=19, taskId=3a31c2946

[2022-10-26 05:18] chenzhiguo commented on #311
附议

[2022-10-26 05:18] chenzhiguo commented on #307
附议

[2022-10-26 08:03] chenzhiguo commented on #307
注意配置集群时的命名空间，保证配置没问题后，我升级`nacos-client`到`2.1.2`可以实现同步。
但是`nacos-client`版本2.1.2有bug，只能同步一个实例，后面的会把前面的覆盖。

[2022-11-09 07:51] snpyeso commented on #311
附议

[2022-11-09 07:53] snpyeso commented on #311
附议

[2022-11-09 09:36] snpyeso commented on #307
附议 我2.1.1 到2.1.1 也不行

[2022-11-09 09:46] chenzhiguo opened #312 "【严重缺失】Consul不支持Token配置"
Consul未支持token配置，一旦consul开启token验证方式，将无法正常同步，这种情况生产环境经常会遇到。

[2022-11-11 06:51] chenzhiguo commented on #241
附议

[2022-11-11 13:10] chenhao26-nineteen commented on #307
这个是Nacos2.x之前针对临时实例的特性，同一个客户端只允许注册一个实例 refer https://github.com/alibaba/nacos/issues/5863 .在Nacos2.1.1以后，Nacos 提供了batch注册的特性，后续我会提pr，支持sync批量注册这一特性！